// THEME SECTION
$themes:(
  light: (
    $light-primary,
    $light-secondary,
    $light-third,
    $light-font-white,
    $light-font-black,
    $light-grey,
    $light-footer,
    $light-market,
    $light-market-border,
    $light-market-font-black,
    $light-market-font-white,
    $light-button-hover,
    $light-market-info-footer,
    $light-market-info-footer-color,
    $light-bg-market-content,
    $light-market-info-footer-link,
    $light-market-table-link-hover,
    $light-market-form-control,
    $light-menu,
    $light-menu-font,
    $light-bg-side,
    $light-main-content,
    $light-market-info-header,
    $light-market-info-heading,
    $light-button-active,
    $light-button-active-hover,
    $light-bg-modal-content
  ),
  dark: (
    $dark-primary,
    $dark-secondary,
    $dark-third,
    $dark-font-white,
    $dark-font-black,
    $dark-grey,
    $dark-footer,
    $dark-market,
    $dark-market-border,
    $dark-market-font-black,
    $dark-market-font-white,
    $dark-button-hover,
    $dark-market-info-footer,
    $dark-market-info-footer-color,
    $dark-bg-market-content,
    $dark-market-info-footer-link,
    $dark-market-table-link-hover,
    $dark-market-form-control,
    $dark-menu,
    $dark-menu-font,
    $dark-bg-side,
    $dark-main-content,
    $dark-market-info-header,
    $dark-market-info-heading,
    $dark-button-active,
    $dark-button-active-hover,
    $dark-bg-modal-content
  )
);
@mixin theme($name,$color){
    // Theme changing
    .#{$name} {
        color: rgba(nth($color,11),0.8);
        a{
            color: nth($color,12);
            &:hover{
                color: nth($color,1);
            }
        }
        .navbar-dark{
            .navbar-nav{
                .nav-link{
                    color: nth($color,20);
                    &:hover,
                    &:focus{
                        color: nth($color,1);
                    }
                }
            }
            .navbar-brand{
                color: nth($color,20);
            }
            .btn-outline-primary{
                border: 2px solid nth($color,2) !important;
                color: nth($color,2) !important;
                text-transform: uppercase;
                font-weight: $font-medium;
                background-color: transparent;
                &:hover{
                    background-color: transparent;
                    border-color: nth($color,12) !important;
                    color: nth($color,12) !important;
                }
            }
        }
        // BACKGROUND
        .bg-primary{
            background-color: nth($color,1) !important;
        }
        .bg-secondary{
            background-color: nth($color,2) !important;
        }
        .market-info-footer {
            background-color: nth($color,13) !important;
            a{
                color: nth($color,14) !important;
            }
        }
        .bg-dark {
            background-color: nth($color,19) !important;
        }
        // END BACKGROUND
        
        // BUTTONS
        .btn-primary{
            border: 2px solid nth($color,2) !important;
            background-color: nth($color,2) !important;
            text-transform: uppercase;
            font-weight: $font-medium;
            min-width: 120px;
            text-align: center;
            &:hover{
                border: 2px solid nth($color,1) !important;
                background-color: nth($color,1) !important;
            }
        }
        // END BUTTONS
        // BANNER
        .banner{
            background-color: nth($color,3);
            .banner-buttons{
                background-color: nth($color,2);
                &:hover{
                    background-color: nth($color,1);
                }
            }
        }
        //END BANNER

        // SECURITY SECTION
        .security-section {
            color: nth($color,5);
            .trade_aside{
                &_header {
                    color: nth($color,5);
                }
            }
        }
        //END SECURITY SECTION

        // SUPPORT SECTION
        .support-section {
            color: nth($color,6);
            color: nth($color,5);
            .trade_aside{
                &_header{
                    color: nth($color,5);
                }
            }
        }
        // END SUPPORT SECTION
        //SECTION REGISTER
        .register-section {
            background-color: nth($color,2);
            color: nth($color,4);
            .form-register {
                .register-btn {
                    background-color: nth($color,5);
                    color: nth($color,4);
                }
            }
            a{
                border-bottom: 1px solid nth($color,4);
                color: nth($color,4);
            }
        }
        //END SECTION REGISTER
        //MARKET PAGE
        .bg-market{
            background-color: nth($color,8);
        }
        .bg-shadow{
            // box-shadow: -7px 5px 4px rgba(0, 0, 0, .9), 7px 5px 4px rgba(0, 0, 0, .9) !important;
            margin-bottom: 1px;
        }
        .border-market{
            border-color: nth($color,9) !important;
        }
        .market-font-black{
            color: rgba(nth($color,11),0.8) !important;
        }
        .market-font-white{
            color: nth($color,11) !important;
        }
        //END MARKET PAGE

        // PAGINATION
        .page-link{
            background-color: rgba(nth($color,11),0.1);
            color: rgba(nth($color,11),0.8);
            border: 0;
            &:hover{
                border-color: nth($color,2);
                color: nth($color,2);
                &.current{
                    color: nth($color,15);
                    border: 0;
                }
            }
            &.current{
                background-color: nth($color,14) !important;
                padding: 0.6rem 0.85rem;
                top: -0.1rem;
                color: nth($color,15);
            }
            &.disabled{
                &:hover{
                    color: rgba(nth($color,11),0.8);
                }
            }
        }
        // END PAGINATION

        // SETTING PAGE
        .setting{
            background-color: nth($color,8) !important;
            .heading-lv1,
            .heading-lv2,
            .heading-lv4,
            .heading-lv5,
            .heading-lv6{
                color: rgba(nth($color,11),0.8);
            }
        }
        .nav-items{
            .nav-item{
                .nav-subitem{
                    a{
                        color: nth($color,11);
                        &:hover{
                            color: nth($color,2);
                        }
                    }
                }
            }
        }
        // END SETTING PAGE

        // MARKET DETAIL
        .main-market-detail-container{
            color: rgba(nth($color,11),0.8);
        }
        // END MARKET DETAIL

        // SUPPORT SECTION
        .home-market-content {
            background-color: nth($color,15);
        }
        // END SUPPORT SECTION

        // SECTION REGISTER
        .register-section {
            background-color: nth($color,2);
            color: nth($color,4);
            .form-register {
                border-bottom: 1px solid rgba(0,54,98,.3);
                .register-btn {
                    background-color: nth($color,5);
                    color: nth($color,4);
                }
            }
            a{
                border-bottom: 1px solid nth($color,4);
            }
        }
        // END SECTION REGISTER
        //FOOTER
        .footer {
            background-color: nth($color,13);
            a{
                color: nth($color,24) !important;
            }
        }
        // END FOOTER
        // MARKET PAGE
        .market{
            &_find{
                background-color: nth($color,14);
            }
            &_table{
                &_heading, th{
                    border-bottom: 1px solid nth($color,9); //border-bottom like border-left
                }
                &_value, td{
                    border-bottom: 1px solid nth($color,13);
                    a{
                        color: nth($color,4);
                        &:hover{
                            color: nth($color,17);
                        }
                    }
                }
                tr{
                    &:hover{
                        background-color: rgba(nth($color,2),0.8);;
                    }
                    &:last-child{
                        td{
                            border-bottom-color: nth($color,9);
                        }
                    }
                }

            }
        }
        // END MARKET PAGE

        // SETTING PAGE
        .nav-setting{
            border-right: 1px solid nth($color,9);
        }
        .nav-items{
            .nav-item{
                .nav-subitem{
                    border-bottom: 1px solid nth($color,13);
                    a{
                        color: nth($color,4);
                    }
                    &.active{
                        border-left: 8px solid nth($color,2);
                    }
                }
            }
        }
        .border-bottom{
            border-bottom: 1px solid nth($color,9) !important;
        }
        .table-activity{
            th{
                color: rgba(nth($color,11),0.8);
                border-bottom: 1px solid nth($color,9) !important;
            }
            td{
                border-bottom: 1px solid nth($color,13) !important;
                color: rgba(nth($color,11),0.8);
            }
        }
        .dropdown-menu{
            .dropdown-item{
                color: rgba(nth($color,11),0.8);
                &:hover{
                    color: rgba(nth($color,11),0.8);
                }
            }
        }
        .basic-form{
            color: rgba(nth($color,11),0.8);
        }
        .enhanced-verification{
            color: rgba(nth($color,11),0.8);
        }
        .blurd{
            background-color: nth($color,3);
            color: rgba(nth($color,11),0.8);
            &_icon{
                color: #00a800;
                &.info{
                    color: nth($color,4);
                    .fa-info{
                        background-color: nth($color,1);
                    }
                    .warning{
                        background-color: #ffa500;
                    }
                }
            }
        }
        .info-blurd{
            color: nth($color,4);
            background-color: rgba(nth($color,11),0.25);
        }
        .form-input{
            color: nth($color,14);
            .form-control-inline{
                &.border-right{
                    border-right: 1px solid nth($color,9) !important;
                }
            }
            .form-control{
                background-color: nth($color,23);
                border-bottom: 1px solid nth($color,9);
                color: rgba(nth($color,11),0.8);
            }
            .form-control[readonly]{
                color: rgba(nth($color,11),0.8);
            }
            h6{
                color: rgba(nth($color,11),0.8);
            }
        }
        .btn-form{
            color: rgba(nth($color,11),0.8);
            &.change-pass{
                background-color: rgba(nth($color,11),0.1);
                &:hover{
                    background-color: nth($color,1);
                }
                &.disable-2fa{
                    &:hover{
                        background-color: #F7A623 !important;
                    }
                }
            }
        }
        .bg-green{
            background-color: #00a45b;
        }
        .bg-notice{
            background-color: #464C58;
        }
        .text-black{
            color: #333;
        }
        .two-factor{
            color: nth($color,14);
        }
        .status-panel{
            background-color: nth($color,13);
            .un-verify{
                color: #f75535;
            }
            .verify{
                color: #00a45b;
            }
        }
        .default-panel{
            background-color: transparent;
            border: 1px solid #ddd;
        }
        .step-num{
            border: 2px solid nth($color,2);
        }
        .step-content{
            color: rgba(nth($color,11),0.8);
        }
        .copy-control{
            background-color: nth($color,13);
        }
        .btn.btn-copy{
            background-color: nth($color,2);
            color: nth($color,4);
        }

        // UI SETTINGS
        .ui-setting-content{
            h4{
                border-bottom: 1px solid nth($color,9);
                color: nth($color,14);
            }
            .form-group{
                label{
                    color: rgba(nth($color,11),0.8);
                }
            }
        }

        // NOTIFICATIONS
        .form-notify{
            border-bottom: 1px solid #eee;
        }
        .form-line {
            border-top: 1px solid #eee;
        }
        .notifications p {
            color: nth($color,14);
        }
        // END SETTING PAGE

        //MARKET DETAIL
        .main-market-detail-container{
            .main_nav{
                background-color: nth($color,21);
                &_menu{
                    &_title{
                        .toggle_icon_navbar{
                            background-color: #9ba8c0;
                            &:hover{
                                background-color: #7d899d;
                            }
                            i{
                                color: #40454d;
                            }
                        }
                    }
                    .form-control{
                        background-color: rgba(nth($color,18),0.9); //#e7ebf1
                    }
                    .dropdown-menu{
                        background-color: rgba(nth($color,18),0.9);
                        .dropdown-item{
                            color: #495057;
                            &:hover{
                                background-color: rgba(nth($color,11),0.8);
                            }
                        }
                    }
                }
            }
            
            // MAIN CONTENT MARKKET DETAIL
            .main_content{
                background-color: nth($color,22);
            }
            // END MARKET DETAIL
        }
        //DATATABLE CUSTOM
        .dataTables_wrapper{
            .dataTables_paginate{
                .paginate_button{
                    background-color: rgba(nth($color,11),0.1);
                    color: rgba(nth($color,11),0.8) !important;
                    border: solid 1px transparent;
                    &:hover{
                        background-color: rgba(nth($color,11),0.1);
                        border-color: nth($color,2);
                    }
                    &.active{
                        &:hover{
                            border-color: nth($color,14);
                        }
                    }
                    &.disabled{
                        background-color: rgba(nth($color,11),0.1) !important;
                        color: rgba(nth($color,11),0.8) !important;
                    }
                }
            }
            
        }
        table.dataTable tbody tr:hover td{
            background-color: rgba(nth($color,2),0.28);
        }
        .page-item{
            &.disabled{
                .page-link{
                    color: rgba(nth($color,11),0.8) !important;
                    background-color: rgba(nth($color,11),0.1);
                    border-color: nth($color,13);
                }
            }
            &.active{
                .page-link{
                    color: nth($color,15);
                    background-color: nth($color,14);
                    border-color: nth($color,14);
                    &:hover{
                        background-color: nth($color,14);
                        border-color: nth($color,14);
                    }
                }
            }
            .page-link{
                &:hover{
                    background-color: rgba(nth($color,11),0.1);
                    border-color: nth($color,2);
                }
            }
        }
        .market{
            &_table_detail{
                th{
                    border-bottom: 1px solid nth($color,9); //border-bottom like border-left
                    text-transform: uppercase;
                    color: nth($color,14);
                }
                td{
                    border-bottom: 1px solid nth($color,13);
                    a{
                        color: nth($color,11);
                        &:hover{
                            color: nth($color,17);
                        }
                    }
                }
                tr{
                    background-color: transparent !important;
                    &:hover{
                        background-color: rgba(nth($color,2),0.28);
                    }
                }

            }
        }

        .trade{
            &_content{
                .btn{
                    background-color: rgba(nth($color,11),0.1);
                    color: rgba(nth($color,11),0.8);
                    &:hover{
                        background-color: nth($color,1);
                        color: nth($color,15);
                    }
                }
            }
        }
        .nav-pills {
            .nav-link{
                color: nth($color,15);
                background-color: nth($color,14);
                &:hover{
                    background-color: #7d899d;
                }
            }
            .btn-sell.active{
                background-color: #ff6724;
                color: nth($color,15);
                &:hover{
                    background-color: #f75535;
                }
            }
            .btn-buy.active{
                background-color: nth($color,25);
                color: nth($color,15);
                &:hover{
                    background-color: nth($color,26);
                }
            }
        }
        .tab-pane{
            .form-group{
                border-bottom: 1px solid nth($color,9);
                .form-control{
                    background-color: transparent !important;
                    color: nth($color,14);
                }
                .input-group-text{
                    color: #7d899d;
                    background-color: transparent;
                }
            }
            .btn-transaction{
                color: nth($color,15);
                &.btn-buy{
                    background-color: nth($color,25);
                    &:hover{
                        background-color: nth($color,26);
                    }
                }
                &.btn-sell{
                    background-color: #ff6724;
                    &:hover{
                        background-color: #f75535;
                    }
                }
            }
        }
        .trade{
            .dropdown-menu{
                background-color: nth($color,15);
                .dropdown-item{
                    &:hover{
                        color: nth($color,2);
                    }
                }
            }
        }
        .btn-link{
            color: nth($color,2);
            &:hover{
                color: nth($color,2);
            }
        }
        .chart_area{
            background-color: rgba(nth($color,11),0.1);
        }
        .market_info_header{
            background-color: nth($color,23);
        }
        // DATA CUSTOM TABLE

        // BALANCE
        .balance{
            .btn-custom{
                border: solid 1px rgba(32,32,32,.6);
                color: rgba(nth($color,11),0.6);
                background-color: rgba(nth($color,11),0.1);
            }
        }
        .btn-refresh{
            background-color: nth($color,14);
        }
        .collapse-control{
            a{
                h1{
                    color: rgba(nth($color,11),0.8);
                }
            }
        }
        .expand-collapse-container{
            border-left: 6px solid nth($color,1);
            background-color: rgba(255,255,255,.05);
        }
        // END BALANCE

        // MODAL
        .error-container{
            background-color: transparent;
            .modal-header{
                background-color: #c73535;
                border-bottom-color: #c73535;
            }
            .modal-body{
                background-color: nth($color,27);
                color: rgba(nth($color,11),0.8);
            }
            .modal-footer{
                background-color: nth($color,27);
                border-top-color: nth($color,27);
                .btn-transaction{
                    background-color: #c73535;
                    color: rgba(nth($color,11),0.8);
                    &:hover{
                        color: nth($color,27);
                    }
                }
            }
        }
        .deposit-container{
            background-color: transparent;
            .modal-header{
                background-color: nth($color,2);
                border-bottom-color: nth($color,2);
            }
            .modal-body{
                background-color: nth($color,27);
                color: rgba(nth($color,11),0.8);
            }
            .modal-disclaimer{
                background-color: rgba(nth($color,9),0.3);
            }
            .deposit-control{
                background-color: nth($color,13);
            }
            .btn.btn-new-address{
                background-color: nth($color,2);
                color: nth($color,11);
            }
            .modal-footer{
                background-color: nth($color,27);
                border-top-color: nth($color,27);
                .btn-close{
                    border: 1px solid nth($color,2);
                    color: nth($color,2);
                    background-color: rgba(nth($color,11),0.05);
                    &:hover{
                        color: nth($color,1);
                    }
                }
            }
        }
        .withdrawal-container{
            background-color: transparent;
            .modal-header{
                background-color: nth($color,2);
                border-bottom-color: nth($color,2);
            }
            .modal-body{
                background-color: nth($color,27);
                color: rgba(nth($color,11),0.8);
            }
            .modal-disclaimer{
                background-color: rgba(nth($color,9),0.3);
                padding: 1rem;
            }
            .withdrawal-control{
                background-color: nth($color,13);
                border: 1px solid nth($color,9);
                color: nth($color,11);
            }
            .modal-footer{
                background-color: nth($color,27);
                border-top-color: nth($color,27);
                .btn-close{
                    border: 1px solid nth($color,2);
                    color: nth($color,2);
                    background-color: rgba(nth($color,11),0.1);
                    &:hover{
                        color: nth($color,27);
                    }
                }
                .btn-withdrawal{
                    border: 1px solid nth($color,2);
                    color: nth($color,11);
                    background-color: rgba(nth($color,11),0.1);
                    &:hover{
                        color: nth($color,27);
                        background-color: nth($color,1);
                    }
                }
            }
        }
        .deposit_table{
            th{
                color: nth($color,14);
                border-bottom: 1px solid nth($color,9);
            }
        }
        // END MODAL
        //STATUS PAGE
        .intro-item{
            border-bottom: 1px solid nth($color,9);
        }
        .color-orange {
            color: #f5a623;
        }
        .color-green {
            color: #00a45b;
        }
        .color-red {
            color: #f75535;
        }
        .color-black{
            color: rgba(nth($color,11),0.8);
        }
        table.dataTable{
            thead{
                .sorting:before,
                .sorting:after,
                .sorting_asc:before,
                .sorting_asc:after,
                .sorting_desc:before,
                .sorting_desc:after,
                .sorting_asc_disabled:before,
                .sorting_asc_disabled:after,
                .sorting_desc_disabled:before,
                .sorting_desc_disabled:after{
                    color: rgba(nth($color,11),0.8);
                }
            }
        }
        
        .dataTables_wrapper{
            .form-control{
                color: nth($color,15);
                border-color: nth($color,15);
                background-color: nth($color,14);
            }
        }
        .additional-buttons{
            border: solid 1px nth($color,13);
            background-color: nth($color,15);
            color: rgba(nth($color,11),0.8);
            &:hover{
                color: nth($color,2);
                border-color: nth($color,2);
            }
        }
        .dataTable{
            tbody {
                tr{
                    .status-normal{
                        background-color: #00a45b;
                    }
                    .status-delayed{
                        background-color: #f5a623;
                    }
                    .status-block{
                        background-color: #f75535;
                    }
                    .status-inactive{
                        background-color: rgba(nth($color,10),0.8);
                    }
                    &:hover{
                        .status-normal{
                            background-color: lighten(#00a45b,15%) !important;
                        }
                        .status-delayed{
                            background-color: lighten(#f5a623,15%) !important;
                        }
                        .status-block{
                            background-color: lighten(#f75535,15%) !important;
                        }
                        .status-inactive{
                            background-color: lighten(nth($color,10),15%) !important;
                        }
                    }
                }        
            }
        }
        // END STATUS PAGE

        // PRIVACY PAGE
        .breadcrumbs{
            li{
                a{
                    color: nth($color,2);
                }
            }
        }
        // END PRIVACY PAGE
    }


    // Control button theme style
    [data-theme='#{$name}'] {
        background: nth($color, 1);
        &:hover {
            background: darken(nth($color, 1), 10%);
        }
        &[disabled] {
            background: desaturate(nth($color, 1), 40%);
        }
    }

}
// END THEME SECTION

// CONTROL THEME
// By looping through the $themes map
@each $key, $value in $themes {
    @include theme($key, $value);
}
  
.controls{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: #515967;
    box-shadow: 1px -1px 2px rgba(255,255,255,.4);
    padding: 2px;
    border-radius: 0 0 3px 3px;
    .control-toggle{
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
    }
    .fas{
        color: rgba(255,255,255,.8);
    }
    button {
        border: 0;
        color: white;
        padding: 0;
        border-radius: 0;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.4s ease;
        display: block;
        height: 20px;
        width: 15px;
    }
    .control-button-group{
        display: none;
        transition: all 0.4s ease;
        &.show{
            display: inline-block;
        }
    }
}
// END CONTROL THEME