@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html{
    font-size: 14px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem; 
}
@media (min-width: 576px){
    body{
        font-size: 1rem;
    }
}