@import 'mixin';

.visible-sm-block,
.visible-xs-block{
    display: none !important;
}
@include maxq(medium){
    .visible-xs-block{
        display: block !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .visible-sm-block{
        display: block !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }
}