.visible-sm-block,
.visible-xs-block,
.visible-md-block{
    display: none !important;
}
.hidden-xl-cell,
.hidden-lg-cell{
    display: table-cell;
}
@include maxq(large){
    .hidden-lg-cell{
        display: none;
    }
}
@include maxq(xlarge){
    .hidden-xl-cell{
        display: none;
    }
}
@include maxq(medium){
    .visible-xs-block{
        display: block !important;
    }
    .hidden-xs {
        display: none !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .visible-sm-block{
        display: block !important;
    }
    .hidden-sm {
        display: none !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .visible-md-block{
        display: block !important;
    }
    .hidden-md {
        display: none !important;
    }
}