// COLORS
// light
$light-primary: #f58220 !default;
$light-secondary: #482368 !default;
$light-third: #482368 !default;
$light-font-white: #fff !default;
$light-font-black: #e55d1d !default;
$light-grey: #f2f3f8 !default;
$light-footer: #f3f5f8 !default;
$light-market: #66338a !default;
$light-market-border: #ccc !default;
$light-market-font-black: #333 !default;
$light-market-font-white: #fff !default;
$light-button-hover: #e55d1d !default;
$light-market-info-footer: #f7f4f9 !default;
$light-market-info-footer-color: #eee !default;
$light-bg-market-content: #e55d1d !default;
$light-market-info-footer-link: #66338a !default;
$light-market-table-link-hover: #337ab7 !default;
$light-market-form-control: #e7ebf1 !default;
$light-menu: #fff !default;
$light-menu-font: #66338a !default;
$light-bg-side: #230A39 !default;
$light-main-content: #59287B !default;
$light-market-info-header: #482368 !default;
$light-market-info-heading: #66338a !default;
// $light-button-active: #465770 !default;
// $light-button-active-hover: #7889A4 !default;
$light-button-active: #00a45b !default;
$light-button-active-hover: #00b74a !default;
$light-bg-modal-content: #2b3441 !default;
$light-color-sell-active: #2b3441 !default;

// LIGHT
$dark-primary: #009af8 !default;
$dark-secondary: #0084d4 !default;
$dark-third: #262f3b !default;
$dark-font-white: #ffffff !default;
$dark-font-black: #003662 !default;
$dark-grey: #f2f3f8 !default;
$dark-footer: #f3f5f8 !default;
$dark-market: #2c3441 !default;
$dark-market-border: #515967 !default;
$dark-market-font-black: #333 !default;
$dark-market-font-white: #fff !default;
$dark-button-hover: #0065a2 !default;
$dark-market-info-footer: #262c36 !default;
$dark-market-info-footer-color: #9caac1 !default;
$dark-bg-market-content: #2b3441 !default;
$dark-market-info-footer-link: #666 !default;
$dark-market-table-link-hover: #337ab7 !default;
$dark-market-form-control: #e7ebf1 !default;
$dark-menu: #343a40 !default;
$dark-menu-font: #fff !default;
$dark-bg-side: #1c222d !default;
$dark-main-content: #303643 !default;
$dark-market-info-header: #262c36 !default;
$dark-market-info-heading: #eee !default;
$dark-button-active: #00a45b !default;
$dark-button-active-hover: #00b74a !default;
$dark-bg-modal-content: #2b3441 !default;
$dark-color-sell-active: #2b3441 !default;
// FONT WEIGHT
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
//FONT SIZE
$font-base: 14px !default;
$font-unit: 12px !default;
//H3
$font-market-title: $font-base*3.666667;
$font-market-title-small: $font-base*2;
$font-heading: $font-unit*3.5;
$font-heading-mlarge: $font-unit*3;
//CONTENT P
$font-content: $font-unit*1.25;