// COLORS
$cl-dark-primary: #009af8;
$cl-dark-secondary: #0084d4;
$cl-dark-third: #0b3e69;
$cl-dark-font: #ffffff;

$cl-light-primary: #D500F9;
$cl-light-secondary: #AA00FF;
$cl-light-third: #6200EA;
$cl-light-font: #ffffff;






// FONT WEIGHT
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;