@import 'typography';
@import 'variable';
@import 'mixin';
@import 'ultilities';

@import 'table';


// LAYOUT
html, body{
    height: 100%;
}
.wrapper{
    height: 100%;
}
// END LAYOUT
@import 'theme';


// BASE
a{
    &:hover{
        text-decoration: none;
    }
}
a sup{
    color: rgba(255,255,255,.8);
}
.up{
    color: #00a45b !important;
}
.down{
    color: #f75535 !important;
}
.img-responsive{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
.layout{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.flex-full-height{
    flex: 1;
}
.footer-bottom{
    height: 100px;
}
.mt-nav{
    margin-top: 56px;
}
.custom-select{
    height: calc(2.55rem + 2px);
    padding: .5rem 1.75rem .5rem .75rem;
    border: 2px solid #ececef;
    font-size: 16px;
}
.form-control {
    padding: .345rem 1.75rem .345rem .75rem;
    border: 2px solid #ececef;
    font-size: 16px;
}
// H1
.heading-lv1{
    font-size: $font-unit*2.5;
    font-weight: $font-normal;
}
.heading-lv4{
    font-size: 16px;
    font-weight: $font-normal;
}
.heading-lv5{
    font-size: $font-base;
    font-weight: $font-normal;
}
.heading-lv6{
    font-size: $font-base;
    font-weight: $font-normal;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 0.8rem;
}
hr{
    border: 1px solid #515967;
}
@include minq(medium){
    .heading-lv1{
        font-size: $font-unit*3.5;
    }
    .heading-lv4{
        font-size: $font-unit*2;
    }
    .heading-lv5{
        font-size: $font-unit*1.75;
    }
    .heading-lv6{
        font-size: $font-unit*1.5;
    }
    h5{
        font-size: 1.25rem;
    }
    h6{
        font-size: 1rem;
    }
}
@include minq(large){
    .heading-lv1{
        font-size: $font-unit*3.5;
    }
    .heading-lv5{
        font-size: $font-unit*2;
    }
    .heading-lv4{
        font-size: $font-unit*2.5;
    }
}
// END BASE

// NAVIGATION BAR
.logo-word {
    font-weight: 500;
    font-size: 1.5rem;
    vertical-align: middle;
    padding-left: 0.5rem;
}
.navbar{
    padding: 0 1.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    .navbar-brand{
        padding-top: 0;
        padding-bottom: 0;
        width: 150px;
        text-align: center;
    }
}
.navbar-dark{
    .navbar-nav{
        .nav-link{
            padding: 1rem !important;
            font-weight: $font-medium;
        }
    }
}

// END NAVIGATION BAR

// SECTION BANNER
.banner{
    text-align: center;
    overflow-x: hidden;
    background: url('../assets/cover-image-mobile.svg') center no-repeat;
    height: 596px;
    position: relative;
    .banner_footer{
        position: absolute;
        bottom: 100px;
        left: 50%;
        @include transform-translateX(-50%);
        .btn{
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            min-width: 216px;
            display: inline-block;
            height: 44px;
            @include border-radius(3px);
            color: #fff;
        }
        .btn_market{
            background-color: transparent;
            border: 1px solid #fff;
            margin-right: 28px;
            &:hover{
                background-color: transparent;
            }
        }
    }
}
@include maxq(large){
    .banner{
        .banner_footer{
            bottom: 40px;
            .btn_market{
                margin-right: 0;
                margin-bottom: 20px;
            }
            .btn{
                display: block;
            }
        }
    }
}

@include minq(large){
    .banner {
        background: url('../assets/cover-image.svg') center no-repeat;
    }
}
// END SECTION BANNER

// TRADE SECTION
.trade_aside{
    &_header{
        font-size: $font-heading;
        font-weight: $font-light;
        line-height: 49px;
        margin: 0;
    }
    &_content{
        font-size: $font-content;
        line-height: 22px;
        text-align: left;
        margin-bottom: 48px;
    }
    @include maxq(xlarge){
        &_content{
            margin-bottom: 40px;
        }
    }
    @include maxq(large){
        &_content{
            padding: 0;
            margin-bottom: 40px;
        }
        &_header{
            font-size: $font-heading-mlarge;
            line-height: 42px;
        }
        h3{
            font-size: $font-heading-mlarge;
            line-height: 42px;
        }
    }
    @include maxq(medium){
        &_content{
            width: 100%;
        }
    }
}
.trade-section{
    margin: 0 auto;
    padding: 100px 0 152px;
    width: 100%;
    color: #fff;
}
@include maxq(xlarge){
    .trade-section{
        padding: 100px 0;
    }
}
@include maxq(large){
    .trade-section{
        padding-top: 108px;
    }
}
@include maxq(medium){
    .trade-section{
        padding: 56px 40px 60px;
    }
}

// END TRADE SECTION

// SECURITY SECTION
.security-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .trade_aside{
        &_header {
            margin-top: 48px;
            margin-bottom: 16px;
        }
    }
}
//END SECURITY SECTION

// SUPPORT SECTION
.support-section {
    text-align: center;
    padding: 100px 0;
    .trade_aside{
        &_header{
            margin-bottom: 16px;
        }
        &_content{
            margin-top: 22px;
        }
    }
}
.home-market-content {
    background-color: #2b3441;
    padding-top: 56px;
    flex: 1;
}
.support-color{
    color: #4e5565;
}
// END SUPPORT SECTION

// SECTION REGISTER
.register-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .form-register {
        display: inline-block;
        padding-bottom: 16px;
        margin-top: 60px;
        max-width: 360px;
        width: 100%;
        .register-btn {
            margin-top: 40px;
            border: none;
            font-size: $font-content;
            font-weight: bold;
            width: 220px;
            height: 44px;
            border-radius: 3px;
            color: white;
        }
        .form-group{
            margin-bottom: 24px;    
            .form-control{
                padding: 6px 12px;
                height: 40px;
                border: none;
                @include border-radius();
            }
        }
        .form-check-label{
            font-size: 13px;
        }
    }
    .register-footer{
        padding-top: 28px;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 60px;
    }
    a{
        display: inline-block;
        cursor: pointer;
        vertical-align: baseline;
        text-decoration: none;
    }
}
//END SECTION REGISTER


//FOOTER
.footer {
    padding: 28px 0 20px;
    a{
        font-size: 12px;
        cursor: pointer;
        line-height: 14px;
        color: #666;
        text-transform: capitalize;
        text-decoration: none;
    }
}
// END FOOTER


// MARKET PAGE
.wrapper-market{
    .container{
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100%;
    }
    @include minq(medium){
        .container{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @include minq(xlarge){
        .container{
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}
.carousel{
    margin-top: 56px;
    .market{
        &_title{
            font-size: $font-market-title;
            &.small-heading{
                font-size: $font-market-title-small;
            }
        }
        &_price,
        &_volume{
            display: flex;
            justify-content: space-between;
            width: 258px;
        }
        &_name,
        &_value{
            font-size: $font-base*1.25;
            font-weight: $font-medium;
        }
        &_icon img{
            width: 120px;
        }
    }
}
.market{
    &_detail{
        &_icon img{
            max-width: 71px;
            width: 100%;
        }
        &_label{
            font-size: 10px;
            margin-top: 16px;
        }
        &_name{
            font-size: 20px;
        }
        &_price_value{
            font-size: 20px;
        }
        &_change{
            font-size: $font-base;
            margin-bottom: 16px;
        }
        &_change.up{
            color: #00a45b !important;
        }
        &_change.down{
            color: #f75535 !important;
        }
        &_change img{
            margin-top: -3px;
        }
    }
    &_title{
        &_name{
            font-size: $font-market-title-small;
            text-transform: uppercase;
            display: inline-block;
        }
        &_info{
            display: inline;
            padding-left: 20px;
            text-transform: capitalize;
            font-size: $font-unit;
        }
    }
    &_find{
        max-width: 100%;
        font-size: $font-base;
        color: $dark-market;
        background-color: #9caac1;
        border: 0;
        @include border-radius(4px);
    }
    @include minq(small){
        &_find{
            max-width: 200px;
        }
    }
    &_table{
        width: 100%;
        &_heading, th{
            text-transform: uppercase;
        }
        &_value, td{
            cursor: pointer;
            a{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        tr{
            background-color: transparent !important;
            th,td{
                padding-top: 5px;
                padding-bottom: 5px;
            }
            th:nth-child(n+3),
            td:nth-child(n+3){
                text-align: right;
            }
        }

    }
    .border-left{
        border: 1px solid transparent;
    }
}
@include maxq(large){
    .market{
        &_detail{
            &_label{
                margin-top: 10px;
            }
            &_name{
                font-size: 12px;
            }
            &_price_value{
                font-size: 12px;
            }
            &_change{
                font-size: $font-base;
                margin-bottom: 10px;
            }
        }
    }
    .market{
        &_title{
            &_info{
                display: block;
                padding-left: 0;
                span{
                    padding-right: 15px;
                }
            }
        }
    }
}
// END MARKET PAGE

// SETTING PAGE
.main-container{
    margin-top: 56px;
    display: flex;
}
.nav-setting{
    width: 268px;
}
.nav-items{
    .nav-item{
        list-style-type: none;
        margin: 0;
        padding: 12px 0;
        .nav-subitem{
            padding-left: 15px;
            a{
                text-transform: capitalize;
                font-size: 14px;
                display: block;
                padding: 12px 0;
                text-decoration: none;
            }
        }
    }
}
.main-content{
    flex: 1;
    overflow-y: auto;
}
.border-bottom{
    padding-bottom: 1rem;
}
.table-activity{
    border: 0 !important;
    th{
        border-top: 0;
        padding: 0.75rem 0 !important;
    }
    td{
        padding: 0.5rem 0;
        font-size: 12px;
    }
    .row-info{
        td{
            font-size: 10px;
        }
    }
}
.hidden-row{
    display: none;
}
.row-info{
    table{
        margin-left: 1em;
        font-size: 13px;
        td{
            padding: 3px 5px !important;
            border: 0;
        }
    }
}
.dropdown-menu{
    right: 0;
    left: auto;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    .dropdown-item{
        font-size: 14px;
        padding: .5rem 2rem;
        &:hover{
            background-color: transparent;
        }
    }
}
@include minq(large){
    .navbar{
        .dropdown-toggle::after{
            display: none;
        }
        .dropdown-menu,
        .dropdown-menu.show{
            display: none;
        }
    }
}

.basic-form{
    max-width: 400px;
    font-size: 16px;
    margin: 0 auto;
}
.enhanced-verification{
    font-size: 13px;
    .help {
        max-width: 700px;
        margin: 0 auto;
    }
}
.blurd{
    width: 100%;
    max-width: 600px;
    margin: .5em auto;
    border-radius: 4px;
    padding: 12px;
    font-size: 1em;
    display: flex;
    &_content{
        flex-grow: 1;
        padding: 0 10px;
    }
    &_icon{
        &.info{
            .fa-info{
                padding: 15px 30px;
                border-radius: 5px;
            }
        }
    }
}
@include minq(small){
    .blurd{
        width: 70%;
    }
}
.info-blurd{
    max-width: 100%;
    font-size: 13px;
    border-radius: 4px;
    padding: 12px;
}
.submit-success{
    display: none;
}
.form-input{
    max-width: 400px;
    margin: 0 auto;
    font-size: 13px;
    .form-control-inline{
        flex: 1;
    }
    .form-control{
        border: 0;
        @include border-radius(0);
        font-size: 13px;
    }
    .form-control[readonly]{
        font-size: 15px;
        font-weight: $font-medium;
        padding-left: 0;
    }
    label{
        font-weight: $font-medium;
    }
}
.btn-form{
    width: 200px;
    height: 44px;
    font-size: 15px;
    padding: 6px 12px;
    @include border-radius(4px);
}
.two-factor{
    color: #9caac1;
    .disabled-content{
        max-width: 400px;
        margin: 0 auto;
    }
}
.status-panel {
    border-radius: 6px;
    border: none;
    box-shadow: none;
    padding: 16px 0;
    margin-bottom: 40px;
    text-align: center;
}
.default-panel{
    font-size: 13px;
    @include border-radius(3px);
}
.step-num{
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    margin-top: -2px;
}
.step-content{
    font-size: 1em;
}
.copy-control{
    padding: .7rem 1.75rem .7rem .75rem;
    font-size: 15px;
    border: 0;
}

// UI SETTINGS
.ui-setting-content{
    max-width: 400px;
    margin: 0 auto 40px;
    h4{
        margin: 0;
        padding-bottom: 8px;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 16px;
    }
    .form-group{
        margin-top: 20px;
        label{
            cursor: pointer;
            vertical-align: text-bottom;
            margin: 0;
            line-height: 21px;
            font-size: 16px;
            padding-left: 5px;
        }
        .rotate-225 {
            transform: rotate(225deg);
        }
        .rotate-135 {
            transform: rotate(135deg);
        }
        .rotate-315 {
            transform: rotate(315deg);
        }
        .rotate-45 {
            transform: rotate(45deg);
        }
    }
}
.icon-arrow-gray-alert {
    width: 10px;
    height: 16.7px;
    background: url('../assets/icon-arrow-gray-alert.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    float: right;
}
.icon-disabled {
    width: 14px;
    height: 14px;
    background: url('../assets/icon-disabled.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    float: right;
}

// NOTIFICATIONS
.form-notify{
    max-width: 400px;
    margin: 0 auto;
}
.form-line {
    padding-right: 10px;
    padding-top: 19px;
    height: 60px;
    font-size: 15px;
    line-height: 18px;
}
.notifications p {
    max-width: 400px;
}
// END SETTING PAGE

//MARKET DETAIL
.clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.main-market-detail-container{
    margin-top: 56px;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    h1{
        font-size: 24px;
    }
    .main_nav{
        width: 200px;
        float: left;
        height: calc(100vh - 56px);
        z-index: 250;
        &_menu{
            padding: 16px 12px;
            &_title{
                .toggle_icon_navbar{
                    position: absolute;
                    right: 0;
                    top: 2px;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 3px;
                    text-align: center;
                    cursor: pointer;
                }
            }
            &_dropdown{
                margin-top: 1rem;
                .custom-select{
                    padding-left: 3px;
                }
            }
            .form-control{
                border: 0;
            }
        }
    }
    .datalist{
        margin-top: 1em;
        height: calc(100vh - 230px);
        overflow: auto;
        width: 100%;
        &_item{
            list-style-type: none;
            margin: 10px 0;
            padding: 0 5px;
            &_up{
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
                .market_currency{
                    float: left;
                }
                .market_change{
                    float: right;
                    img{
                        height: 11px;
                        width: 10px;
                        margin-top: -3px;
                        margin-left: 3px;
                    }
                }
            }
            &_down{
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
                .market_volumn{
                    float: left;
                }
                .market_last{
                    float: right;
                }
            }
        }
        .mCSB_inside{
            &>.mCSB_container {
                margin-right: 10px;
            }
        }
        .mCSB_scrollTools{
            width: 2px;
        }
    }
    @include maxq(xlarge){
        .main_nav{
            width: 68px;
            .main_nav_menu{
                padding: 16px 2px;
                &_title{
                    h1{
                        display: none;
                    }
                    .toggle_icon_navbar{
                        top: 0;
                        width: 100%;
                        height: 25px;
                        .fa-angle-left{
                            &:before {
                                content: '\f105';
                            }
                        }
                    }
                }
                &_dropdown{
                    margin-top: 2.5rem;
                }
                .input-group{
                    display: flex;
                }
            }
            .datalist{
                height: calc(100vh - 182px);
                &_item{
                    &_down{
                        display: none;
                    }
                }
            }
        }
        
    }
    .hidden{
        width: 68px;
        .main_nav_menu{
            padding: 16px 2px;
            &_title{
                h1{
                    display: none;
                }
                .toggle_icon_navbar{
                    top: 0;
                    width: 100%;
                    height: 25px;
                    .fa-angle-left{
                        &:before {
                            content: '\f105';
                        }
                    }
                }
            }
            &_dropdown{
                margin-top: 2.5rem;
            }
            .input-group{
                display: none;
            }
        }
        .datalist{
            height: calc(100vh - 182px);
            &_item{
                &_down{
                    display: none;
                }
            }
        }
    }
    .visible{
        width: 200px;
        .main_nav_menu{
            padding: 16px 12px;
            &_title{
                h1{
                    display: block;
                }
                .toggle_icon_navbar{
                    top: 2px;
                    width: 25px;
                    height: 25px;
                    .fa-angle-left{
                        &:before {
                            content: '\f104';
                        }
                    }
                }
            }
            &_dropdown{
                margin-top: 1rem;
            }
            .input-group{
                display: flex;
            }
        }
        .datalist{
            height: calc(100vh - 230px);
            &_item{
                &_down{
                    display: block;
                }
            }
        }
    }
    
    .mCSB_inside{
        &>.mCSB_container{
            margin-right: 0;
        }
    }
    // MAIN CONTENT MARKKET DETAIL
    .main_content{
        height: calc(100vh - 56px);
        -webkit-overflow-scrolling: touch !important;
    }
}
// END MARKET DETAIL

//DATATABLE CUSTOM
.dataTables_wrapper{
    .dataTables_paginate{
        .paginate_button{
            padding: 0;
            font-size: 13px;
            &:hover{
                background: none;
            }
        }
    }
    .col-sm-12{
        padding-left: 0;
        padding-right: 0;
    }
    
}
@include maxq(small){
    table.dataTable thead th,
    table.dataTable thead td{
        padding: 5px;
    }
}
@include minq(small){
    table.dataTable thead th,
    table.dataTable thead td{
        padding: 8px;
    }
}
@include minq(large){
    table.dataTable thead th,
    table.dataTable thead td{
        padding: 8px 10px;
    }
}
@media (max-width: 360px){
    .container-fluid{
        padding-left: 8px;
        padding-right: 8px;
        .row{
            margin-left: -8px;
            margin-right: -8px;
            [class*='col']{
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
    .dataTables_wrapper{
        [class*='col']{
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .carousel {
        .market_title {
            font-size: 28px;
        }
    }
}
table.dataTable.no-footer{
    border-bottom: 0;
}
.pagination{
    justify-content: flex-end;
}
.page-item{
    .page-link{
        @include border-radius(2px);
        padding: .5rem .75rem;
    }
}
.market{
    &_table_detail{
        width: 100%;
        font-size: 11px;
        th{
            text-transform: uppercase;
            padding: 5px !important;
        }
        td{
            cursor: pointer;
            padding: 5px !important;
            a{
                color: white;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        tr{
            th,td{
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

    }
}

.trade{
    &_content{
        max-width: 224px;
        font-size: 13px;
        margin: 0 auto;
        .btn{
            @include border-radius(4px);
            max-width: 200px;
            display: block;
            padding: .75rem 0;
            font-size: 15px;
            margin: 6px auto;
        }
    }
}
.nav-pills {
    display: flex;
    justify-content: space-between;
    .nav-item{
        flex: 1;
        max-width: 49%;;
    }
    .nav-link{
        border-radius: 0;
        text-transform: uppercase;
        text-align: center;
        height: 32px;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
    }
}
.tab-pane{
    .form-group{
        .form-control{
            border: 0;
            font-size: 11px;
            padding: .375rem 0;
        }
        .input-group-text{
            border: 0;
            padding: .375rem 0;
            font-size: 11px;
        }
    }
    .condition{
        display: none;
        &.active{
            display: block;
        }
    }
    .target-price{
        display: none;
        &.active{
            display: block;
        }
    }
    .btn-transaction{
        padding: 11px 12px;
        outline: none;
        font-size: 15px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &.btn-buy{
            min-width: 150px;
        }
        &.btn-sell{
            min-width: 150px;
        }
    }
}
.trade{
    .dropdown-menu{
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.5);
        .dropdown-item{
            padding: 3px 10px;
            font-size: 11px;
        }
    }
    label{
        font-size: 10px;
    }
}
.trade-content{
    max-width: 400px;
    margin: 0 auto;
}
.btn-link{
    text-decoration: none !important;
    padding-left: 0;
    font-size: 11px;
    &:hover{
        text-decoration: none !important;
    }
}
@include minq(medium){
    .market{
        &_table_detail{
            font-size: 13px;
        }
    }
    .btn-link{
        font-size: 13px;
    }
    .trade{
        .dropdown-menu{
            .dropdown-item{
                font-size: 13px;
            }
        }
        label{
            font-size: 12px;
        }
    }
    .tab-pane{
        .form-group{
            .form-control,
            .input-group-text{
                font-size: 13px;
            }
        }
    }
}
.chart_area{
    height: 650px;
}
.market_info_header{
    min-height: 60px;
    &_name{
        display: flex;
        padding-top: 7px;
        padding-bottom: 7px;        
        .market-logo{
            width: 45px;
            height: 45px;
            margin-right: 5px;
        }
    }
    p{
        margin-bottom: 0;
    }
    .item-group{
        display: flex;
    }
    .item{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5px;
    }
    
}
@include maxq(large){
    .market_info_header{
        height: auto;
    }
}
@include maxq(medium){
    .market_info_header{
        .volume,.high,.low{
            display: none;
        }
    }
}
// DATA CUSTOM TABLE

// BALANCE
.balance{
    .sum{
        display: none;
    }
    .expand-icon{
        display: none;
    }
    .expand-icon.show{
        display: inline-block;
    }
    .btn-custom{
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        height: 32px;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 13px;
        font-weight: normal;
        line-height: 16px;
        vertical-align: middle;
    }
    @include minq(small){
        .btn-custom{
            max-width: 200px;
        }
    }
    .far {
        font-size: 14px;
        vertical-align: middle;
        margin-top: -4px;
    }
}
.btn-refresh{
    padding: .274rem .65rem;
}
.icon{
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-withdraw-red{
    background-image: url('../assets/icon-withdraw-red.svg');
    position: relative;
}
.icon-deposit-green{
    background-image: url('../assets/icon-deposit-green.svg');
    position: relative;
}
.btn-modal-deposit,
.btn-modal-withdrawal{
    width: 100%;
    height: auto;
    border: 0;
    background-color: transparent;
}
.btn-icon{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.no-border{
    td{
        border: 0 !important;
    }
}
.expand-collapse-container{
    padding: 2px 8px;
    border-radius: 2px;
    margin-bottom: 24px;
}
// MODAL
.error-container{
    .modal-header{
        .modal-title{
            margin-left: auto;
            margin-right: auto;
        }
        .close{
            margin-left: 0;
        }
    }
}
@include minq(small){
    .modal-dialog {
        max-width: 550px;
    }
}
.common-modal{
    .modal-header {
        .modal-title{
            margin-left: auto;
            margin-right: auto;
        }
        .close{
            margin-left: 0;
        }
    }
    .modal-body{
        font-size: 12px;
        padding: 1rem 2rem;
        .modal_item {
            padding: 0;
            height: 48px;
            border-bottom: 1px solid #eaeaea;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_number{
                font-size: 18px;
                padding-right: 10px;
            }
        }
        .modal-transaction-type {
            padding: 0;
            height: 66px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item-name {
                font-size: 12px;
                line-height: 14px;
                color: #7d899d;
                text-transform: uppercase;
            }
            .item-value {
                font-size: 13px;
                line-height: 16px;
                margin-left: 8px;
            }
        }
        .modal-disclaimer{
            padding: 1rem;
        }
    }    
    .modal-footer{
        justify-content: space-between;
        .btn-close{
            font-size: 15px;
            width: 200px;
            margin-left: 1rem;
            padding: .7rem .75rem;
        }
        .btn-confirm{
            font-size: 15px;
            width: 200px;
            margin-right: 1rem;
            padding: .7rem .75rem;
        }
    }
}
.light{
    .btn-link {
        color: #e55d1d;
        &:hover{
            color: #f58220;
        }
    }
    .tab-pane{
        .form-group{
            .form-control{
                color: #f0f0f0;
            }
        }
    }
    .down{
        color: #F9320B !important;
    }
    .up{
        color: #0AD83E !important
    }
}
@include maxq(small){
    .common-modal{
        .modal-header {
            .modal-title{
                font-size: 1.3rem;
            }
        }
        .modal-body{
            font-size: 11px;
            .modal_item {
                &_number{
                    font-size: 15px;
                }
            }
            .modal-transaction-type {
                margin-top: 15px;
                flex-direction: column;
                .item-name {
                    font-size: 11px;
                }
                .item-value {
                    font-size: 12px;
                }
            }
        } 
    }
}
.deposit-container{
    .modal-header{
        padding: 1.5rem 1rem;
        .modal-title{
            margin-left: auto;
            margin-right: auto;
            .title-icon{
                display: inline-block;
                width: 30px;
                height: 26px;
                background: url('../assets/icon-deposit-white.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center bottom;
                vertical-align: text-bottom;
                margin-right: 8px;
            }
        }
        .close{
            margin-left: 0;
            margin-top: -0.75rem;
        }
    }
    .modal-disclaimer{
        padding: 1rem;
    }
    .deposit-control{
        padding: .7rem 1.75rem .7rem .75rem;
        font-size: 15px;
        border: 0;
    }
    .modal-footer{
        .btn-close{
            font-size: 15px;
            width: 200px;
            margin-right: 1rem;
            padding: .7rem .75rem;
        }
    }
}
.withdrawal-container{
    background-color: transparent;
    .modal-header{
        padding: 1.5rem 1rem;
        .modal-title{
            margin-left: auto;
            margin-right: auto;
            .title-icon{
                display: inline-block;
                width: 30px;
                height: 26px;
                background: url('../assets/icon-withdraw-white.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center bottom;
                vertical-align: text-bottom;
                margin-right: 8px;
            }
        }
        .close{
            margin-left: 0;
            margin-top: -0.75rem;
        }
    }
    .modal-disclaimer{
        padding: 1rem;
    }
    .withdrawal-control{
        padding: .5rem .75rem .5rem .75rem;
        font-size: 15px;
    }
    .amount{
        flex: 1;
        font-size: 15px;
    }
    .modal-footer{
        .btn-close{
            font-size: 15px;
            width: 200px;
            margin-right: 1rem;
            padding: .7rem .75rem;
        }
        .btn-withdrawal{
            font-size: 15px;
            width: 200px;
            margin-right: 1rem;
            padding: .7rem .75rem;
        }
    }
}
@include minq(small){
    #modalDeposit .modal-dialog,
    #modalWithdrawal .modal-dialog{
        max-width: 600px;
    }
}
.deposit_table{
    width: 100%;
    th{
        text-transform: uppercase;
        font-weight: $font-medium;
        padding: 12px 10px 8px;
    }
    td{
        font-size: 16px;
        padding: 10px 10px 11px;
    }
}
.notify-content{
    background-color: #C5E1A5;
    color: #2c3441;
    .modal-header{
        padding: 0.5em;
        border-bottom: 0;
    }
    .modal-body{
        padding: 0.5em;
    }
}
@include minq(small){
    .modal-sm{
        max-width: 300px;
        margin-right: 0;
    }
}
// END MODAL

// ORDER PAGE
.order-container {
    height: calc(100vh - 320px);
}
@include minq(small){
    .order-container {
        height: calc(100vh - 210px);
    }
}
@include minq(medium){
    .order-container {
        height: calc(100vh - 168px);
    }
}
.order_table {
    .sum{
        display: none !important;
    }
    &_market{
        color: #539ad7;
    }
}
// END ORDER PAGE
// STATUS PAGE
.intro-item{
    padding: 14px 0 12px;
    vertical-align: middle;
    border-bottom: 1px solid #515967;
    span{
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
    }
    p{
        font-size: 12px;
        line-height: 14px;
        margin: 8px 0 0;
    }
}
.color-orange {
    color: #f5a623;
}
.color-green {
    color: #00a45b;
}
.color-red {
    color: #f75535;
}
.color-black{
    color: rgba(255,255,255,.8);
}
table.dataTable{
    thead{
        .sorting:before,
        .sorting:after,
        .sorting_asc:before,
        .sorting_asc:after,
        .sorting_desc:before,
        .sorting_desc:after,
        .sorting_asc_disabled:before,
        .sorting_asc_disabled:after,
        .sorting_desc_disabled:before,
        .sorting_desc_disabled:after{
            bottom: 0.5em;
            opacity: 1;
        }
    }
}
.market_table_detail{
    &.table-status{ 
        th {
            padding-right: 24px !important;
        }
    }
}
.dataTables_wrapper{
    .form-control{
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}
.additional-buttons{
    height: 32px;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
@include maxq(medium){
    .dataTables_filter{
        text-align: right !important;
    }
}

// END STATUS PAGE

// PRIVACY PAGE
.main-wrapper {
    min-height: calc(100vh - 100px);
    padding-top: 56px;
    color: #4e5565;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.container-inner{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
@include minq(medium){
    .container-inner{
        padding-left: 30px;
        padding-right: 30px;
    }
}
.breadcrumbs{
    padding: 0;
    li{
        font-size: 16px;
        display: inline-block;
    }
    li+li:before{
        content: '> ';
        padding: 0 5px;
        color: #ccc;
    }
}
.support{
    &_search{
        &_control{
            border-right: 0;
        }
        &_button{
            color: #495057;
            background-color: transparent;
            background-image: none;
            border: 2px solid #ececef;
            border-left: 0;
        }
    }
}
.support-content{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    h1,h2,h3,h4,h5,h6{
        font-weight: $font-light;
    }
}
@include minq(medium){
    .support-content{
        font-size: 16px;
    }
}
@include maxq(medium){
    .support-content.container{
        max-width: 100%;
    }
}
.article{
    &_header{
        &_title{
            font-size: 24px;
        }
        @include minq(medium){
            &_title{
                font-size: 28px;
            }
        }
        @include minq(large){
            &_title{
                font-size: 32px;
            }
        }
    }
    &_meta{
        display: flex;
        &_main{
            flex: 1;
        }
        &_button{
            .article-subscribe{
                color: #0084D4;
                background-color: transparent;
                display: inline-block;
                margin-bottom: 0;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                background-image: none;
                border: 2px solid #0084D4;
                white-space: nowrap;
                letter-spacing: 0.1px;
                padding: 6px 12px 6px 12px;
                font-size: 11px;
                line-height: 1.5;
                border-radius: 4px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                transition: all 0.3s ease;
            }
        }
    }
    &_vote{
        display: flex;
        position: relative;
        padding: 24px 12px 38px;
        border: 2px solid #eceeef;
        border-radius: 4px;
        &_control{
            white-space: nowrap;
            &_item{
                color: #4e5565;
                background-color: #eceeef;
                border: 2px solid #eceeef;
                padding: 6px 12px 6px 12px;
                transition: all 0.3s ease;
                border-radius: 4px;
                margin-right: 3px;
            }
        }
        small{
            position: absolute;
            left: 12px;
            bottom: 7px;
        }
    }
    .share{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            a{
                display: block;
                width: 30px;
                height: 30px;
                overflow: hidden;
                line-height: 30px;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                background-color: #eceeef;
                border-color: #eceeef;
                border-radius: 4px;
                text-align: center;
                .fa-facebook-f{
                    color: #3d5b95;
                }
                .fa-twitter{
                    color: #24aadd;
                }
                .fa-linkedin-in{
                    color: #0976b4;
                }
                .fa-google-plus-g{
                    color: #d23e30;
                }
            }
        }
    }
}
.articles_list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
        margin-bottom: 12px;
        a{
            color: #4e5565;
            border-bottom: 1px solid #eceeef;
            padding-bottom: 1px;            
            text-decoration: none;
            &:hover{
                color: #0065A2;
            }
        }
    }
}

//RELOAD ANIMATION
.reload{
    animation: reload .8s 1 ease;
}
@keyframes reload{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

