@import 'typography';
@import 'variable';
@import 'mixin';
@import 'ultilities';


// LAYOUT
html, body{
    height: 100%;
}
.wrapper{
    height: 100%;
}
// END LAYOUT
@import 'theme';


// BASE
a{
    &:hover{
        text-decoration: none;
    }
}
sup{
    color: red;
}
.up{
    color: #00a45b !important;
}
.down{
    color: #f75535 !important;
}
.img-responsive{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
.layout{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.flex-full-height{
    flex: 1;
}
.footer-bottom{
    height: 100px;
}
.mt-nav{
    margin-top: 56px;
}
.custom-select{
    height: calc(2.55rem + 2px);
    padding: .5rem 1.75rem .5rem .75rem;
    border: 2px solid #ececef;
    font-size: 16px;
}
.form-control {
    padding: .345rem 1.75rem .345rem .75rem;
    border: 2px solid #ececef;
    font-size: 16px;
}
// H1
.heading-lv1{
    font-size: $font-unit*2.5;
    font-weight: $font-normal;
}
.heading-lv4{
    font-size: 16px;
    font-weight: $font-normal;
}
.heading-lv5{
    font-size: $font-base;
    font-weight: $font-normal;
}
.heading-lv6{
    font-size: $font-base;
    font-weight: $font-normal;
}
@include minq(medium){
    .heading-lv1{
        font-size: $font-unit*3.5;
    }
    .heading-lv4{
        font-size: $font-unit*2;
    }
    .heading-lv5{
        font-size: $font-unit*1.75;
    }
    .heading-lv6{
        font-size: $font-unit*1.5;
    }
}
@include minq(large){
    .heading-lv1{
        font-size: $font-unit*3.5;
    }
    .heading-lv5{
        font-size: $font-unit*2;
    }
    .heading-lv4{
        font-size: $font-unit*2.5;
    }
}
// END BASE

// NAVIGATION BAR
.logo-word {
    font-weight: 300;
    font-size: 1.5rem;
    vertical-align: middle;
    padding-left: 0.5rem;
}
.navbar{
    padding: 0 1rem;
    .navbar-brand{
        padding-top: 0;
        padding-bottom: 0;
        width: 150px;
        text-align: center;
    }
}
.navbar-dark{
    .navbar-nav{
        .nav-link{
            padding: 1rem !important;
            font-weight: $font-medium;
        }
    }
}

// END NAVIGATION BAR

// SECTION BANNER
.banner{
    text-align: center;
    overflow-x: hidden;
    background: url('../assets/cover-image-mobile.svg') center no-repeat;
    height: 596px;
    position: relative;
    .banner_footer{
        position: absolute;
        bottom: 100px;
        left: 50%;
        @include transform-translateX(-50%);
        .btn{
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            min-width: 216px;
            display: inline-block;
            height: 44px;
            @include border-radius(3px);
            color: #fff;
        }
        .btn_market{
            background-color: transparent;
            border: 1px solid #fff;
            margin-right: 28px;
            &:hover{
                background-color: transparent;
            }
        }
    }
}
@include maxq(large){
    .banner{
        .banner_footer{
            bottom: 40px;
            .btn_market{
                margin-right: 0;
                margin-bottom: 20px;
            }
            .btn{
                display: block;
            }
        }
    }
}

@include minq(large){
    .banner {
        background: url('../assets/cover-image.svg') center no-repeat;
    }
}
// END SECTION BANNER

// TRADE SECTION
.trade_aside{
    &_header{
        font-size: $font-heading;
        font-weight: $font-light;
        line-height: 49px;
        margin: 0;
    }
    &_content{
        font-size: $font-content;
        line-height: 22px;
        text-align: left;
        margin-bottom: 48px;
    }
    @include maxq(xlarge){
        &_content{
            margin-bottom: 40px;
        }
    }
    @include maxq(large){
        &_content{
            padding: 0;
            margin-bottom: 40px;
        }
        &_header{
            font-size: $font-heading-mlarge;
            line-height: 42px;
        }
        h3{
            font-size: $font-heading-mlarge;
            line-height: 42px;
        }
    }
    @include maxq(medium){
        &_content{
            width: 100%;
        }
    }
}
.trade-section{
    margin: 0 auto;
    padding: 100px 0 152px;
    width: 100%;
    color: #fff;
}
@include maxq(xlarge){
    .trade-section{
        padding: 100px 0;
    }
}
@include maxq(large){
    .trade-section{
        padding-top: 108px;
    }
}
@include maxq(medium){
    .trade-section{
        padding: 56px 40px 60px;
    }
}

// END TRADE SECTION

// SECURITY SECTION
.security-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .trade_aside{
        &_header {
            margin-top: 48px;
            margin-bottom: 16px;
        }
    }
}
//END SECURITY SECTION

// SUPPORT SECTION
.support-section {
    text-align: center;
    padding: 100px 0;
    .trade_aside{
        &_header{
            margin-bottom: 16px;
        }
        &_content{
            margin-top: 22px;
        }
    }
}
// END SUPPORT SECTION

//SECTION REGISTER
.register-section {
    background-color: #0084d4;
    text-align: center;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    .form-register {
        display: inline-block;
        padding-bottom: 16px;
        margin-top: 60px;
        border-bottom: 1px solid rgba(0,54,98,.3);
        max-width: 360px;
        width: 100%;
        .register-btn {
            margin-top: 40px;
            border: none;
            font-size: $font-content;
            font-weight: bold;
            width: 220px;
            height: 44px;
            border-radius: 3px;
            background-color: #003662;
            color: white;
        }
        .form-group{
            margin-bottom: 24px;    
            .form-control{
                padding: 6px 12px;
                height: 40px;
                border: none;
                @include border-radius();
            }
        }
        .form-check-label{
            font-size: 13px;
        }
    }
    .register-footer{
        padding-top: 28px;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 60px;
    }
    a{
        display: inline-block;
        border-bottom: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        vertical-align: baseline;
        text-decoration: none;
    }
}
//END SECTION REGISTER


//FOOTER
.footer {
    background-color: #f3f5f8;
    padding: 28px 0 20px;
    a{
        font-size: 12px;
        cursor: pointer;
        line-height: 14px;
        color: #666;
        text-transform: capitalize;
        text-decoration: none;
    }
}
// END FOOTER


// MARKET PAGE
.wrapper-market{
    .container{
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100%;
    }
    @include minq(medium){
        .container{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @include minq(xlarge){
        .container{
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}
.carousel{
    margin-top: 56px;
    .market{
        &_title{
            font-size: $font-market-title;
            &.small-heading{
                font-size: $font-market-title-small;
            }
        }
        &_price,
        &_volume{
            display: flex;
            justify-content: space-between;
            width: 258px;
        }
        &_name,
        &_value{
            font-size: $font-base*1.25;
            font-weight: $font-medium;
        }
        &_icon img{
            width: 120px;
        }
    }
}
.market{
    &_detail{
        &_icon img{
            max-width: 71px;
            width: 100%;
        }
        &_label{
            font-size: 10px;
            margin-top: 16px;
        }
        &_name{
            font-size: 20px;
        }
        &_price_value{
            font-size: 20px;
        }
        &_change{
            font-size: $font-base;
            margin-bottom: 16px;
        }
        &_change.up{
            color: #00a45b !important;
        }
        &_change.down{
            color: #f75535 !important;
        }
        &_change img{
            margin-top: -3px;
        }
    }
    &_title{
        &_name{
            font-size: $font-market-title-small;
            text-transform: uppercase;
            display: inline-block;
        }
        &_info{
            display: inline;
            padding-left: 20px;
            text-transform: capitalize;
            font-size: $font-unit;
        }
    }
    &_find{
        max-width: 100%;
        font-size: $font-base;
        color: $dark-market;
        background-color: #9caac1;
        border: 0;
        @include border-radius(4px);
    }
    @include minq(small){
        &_find{
            max-width: 200px;
        }
    }
    &_table{
        width: 100%;
        color: white;
        &_heading, th{
            border-bottom: 1px solid #515967; //border-bottom like border-left
            text-transform: uppercase;
        }
        &_value, td{
            border-bottom: 1px solid #262c36;
            cursor: pointer;
            a{
                color: white;
                &:hover{
                    text-decoration: underline;
                    color: #337ab7;
                }
            }
        }
        tr{
            background-color: transparent !important;
            &:hover{
                background-color: rgba(0,132,212,.08);
            }
            th,td{
                padding-top: 5px;
                padding-bottom: 5px;
            }
            th:nth-child(n+3),
            td:nth-child(n+3){
                text-align: right;
            }
            &:last-child{
                td{
                    border-bottom-color: #515967;
                }
            }
        }

    }
    .border-left{
        border: 1px solid transparent;
    }
}
@include maxq(large){
    .market{
        &_detail{
            &_label{
                margin-top: 10px;
            }
            &_name{
                font-size: 12px;
            }
            &_price_value{
                font-size: 12px;
            }
            &_change{
                font-size: $font-base;
                margin-bottom: 10px;
            }
        }
    }
    .market{
        &_title{
            &_info{
                display: block;
                padding-left: 0;
                span{
                    padding-right: 15px;
                }
            }
        }
    }
}
// END MARKET PAGE

// SETTING PAGE
.main-container{
    margin-top: 56px;
    display: flex;
}
.nav-setting{
    width: 268px;
    border-right: 1px solid #515967;
}
.nav-items{
    .nav-item{
        list-style-type: none;
        margin: 0;
        padding: 12px 0;
        .nav-subitem{
            padding-left: 15px;
            border-bottom: 1px solid #262c36;
            a{
                color: #fff;
                text-transform: capitalize;
                font-size: 14px;
                display: block;
                padding: 12px 0;
                text-decoration: none;
            }
        }
    }
}
.main-content{
    flex: 1;
    overflow-y: auto;
}
.border-bottom{
    padding-bottom: 1rem;
    border-bottom: 1px solid #515967 !important;
}
.table-activity{
    border: 0 !important;
    th{
        color: rgba(255, 255, 255, 0.8);
        border-top: 0;
        padding: 0.75rem 0;
        border-bottom: 1px solid #515967 !important;
    }
    td{
        border-bottom: 1px solid #262c36 !important;
        padding: 0.5rem 0;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
    }
    .row-info{
        td{
            font-size: 10px;
        }
    }
    .hidden-row{
        display: none;
    }
}
.dropdown-menu{
    right: 0;
    left: auto;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    .dropdown-item{
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        padding: .5rem 2rem;
        &:hover{
            color: rgba(255, 255, 255, 0.8);
            background-color: transparent;
        }
    }
}
@include minq(large){
    .navbar{
        .dropdown-toggle::after{
            display: none;
        }
        .dropdown-menu,
        .dropdown-menu.show{
            display: none;
        }
    }
}
// END SETTING PAGE

//MARKET DETAIL
.clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.main-market-detail-container{
    margin-top: 56px;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    h1{
        font-size: 24px;
    }
    .main_nav{
        width: 200px;
        float: left;
        background-color: #1c222d;
        height: calc(100vh - 56px);
        z-index: 250;
        &_menu{
            padding: 16px 12px;
            &_title{
                .toggle_icon_navbar{
                    position: absolute;
                    right: 0;
                    top: 2px;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 3px;
                    text-align: center;
                    background-color: #9ba8c0;
                    cursor: pointer;
                    &:hover{
                        background-color: #7d899d;
                    }
                    i{
                        color: #40454d;
                    }
                }
            }
            &_dropdown{
                margin-top: 1rem;
                .custom-select{
                    padding-left: 3px;
                }
            }
            .form-control{
                background-color: rgba(231,235,241,.9);
                border: 0;
            }
            .dropdown-menu{
                background-color: rgba(231,235,241,.9);
                .dropdown-item{
                    color: #495057;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }
    }
    .datalist{
        margin-top: 1em;
        height: calc(100vh - 230px);
        overflow: auto;
        width: 100%;
        &_item{
            list-style-type: none;
            margin: 10px 0;
            padding: 0 5px;
            &_up{
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
                .market_currency{
                    float: left;
                }
                .market_change{
                    float: right;
                    img{
                        height: 11px;
                        width: 10px;
                        margin-top: -3px;
                        margin-left: 3px;
                    }
                }
            }
            &_down{
                &:after{
                    content: '';
                    display: block;
                    clear: both;
                }
                .market_volumn{
                    float: left;
                }
                .market_last{
                    float: right;
                }
            }
        }
        .mCSB_inside{
            &>.mCSB_container {
                margin-right: 10px;
            }
        }
        .mCSB_scrollTools{
            width: 2px;
        }
    }
    @include maxq(xlarge){
        .main_nav{
            width: 68px;
            .main_nav_menu{
                padding: 16px 2px;
                &_title{
                    h1{
                        display: none;
                    }
                    .toggle_icon_navbar{
                        top: 0;
                        width: 100%;
                        height: 25px;
                        .fa-angle-left{
                            &:before {
                                content: '\f105';
                            }
                        }
                    }
                }
                &_dropdown{
                    margin-top: 2.5rem;
                }
                .input-group{
                    display: flex;
                }
            }
            .datalist{
                height: calc(100vh - 182px);
                &_item{
                    &_down{
                        display: none;
                    }
                }
            }
        }
        
    }
    .hidden{
        width: 68px;
        .main_nav_menu{
            padding: 16px 2px;
            &_title{
                h1{
                    display: none;
                }
                .toggle_icon_navbar{
                    top: 0;
                    width: 100%;
                    height: 25px;
                    .fa-angle-left{
                        &:before {
                            content: '\f105';
                        }
                    }
                }
            }
            &_dropdown{
                margin-top: 2.5rem;
            }
            .input-group{
                display: none;
            }
        }
        .datalist{
            height: calc(100vh - 182px);
            &_item{
                &_down{
                    display: none;
                }
            }
        }
    }
    .visible{
        width: 200px;
        .main_nav_menu{
            padding: 16px 12px;
            &_title{
                h1{
                    display: block;
                }
                .toggle_icon_navbar{
                    top: 2px;
                    width: 25px;
                    height: 25px;
                    .fa-angle-left{
                        &:before {
                            content: '\f104';
                        }
                    }
                }
            }
            &_dropdown{
                margin-top: 1rem;
            }
            .input-group{
                display: flex;
            }
        }
        .datalist{
            height: calc(100vh - 230px);
            &_item{
                &_down{
                    display: block;
                }
            }
        }
    }
    
    .mCSB_inside{
        &>.mCSB_container{
            margin-right: 0;
        }
    }
    // MAIN CONTENT MARKKET DETAIL
    .main_content{
        height: calc(100vh - 56px);
        -webkit-overflow-scrolling: touch !important;
        background-color: #303643;
    }
}


//DATATABLE CUSTOM
.dataTables_wrapper{
    .dataTables_paginate{
        .paginate_button{
            padding: 0;
            background-color: rgba(255,255,255,.1);
            color: rgba(255,255,255,0.8);
            font-size: 13px;
            border: solid 1px #262c36;
            &:hover{
                background-color: rgba(255,255,255,.1);
                border-color: #0084d4;
                background: none;
            }
            &.active{
                &:hover{
                    border-color: #9caac1;
                }
            }
        }
    }
    .col-sm-12{
        padding-left: 0;
        padding-right: 0;
    }
    
}

@include maxq(small){
    table.dataTable thead th,
    table.dataTable thead td{
        padding: 5px;
    }
}
@include minq(small){
    table.dataTable thead th,
    table.dataTable thead td{
        padding: 8px;
    }
}
@include minq(large){
    table.dataTable thead th,
    table.dataTable thead td{
        padding: 8px 10px;
    }
}
@media (max-width: 360px){
    .container-fluid{
        padding-left: 8px;
        padding-right: 8px;
        .row{
            margin-left: -8px;
            margin-right: -8px;
            [class*='col']{
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
    .dataTables_wrapper{
        [class*='col']{
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .carousel {
        .market_title {
            font-size: 28px;
        }
    }
}
table.dataTable.no-footer{
    border-bottom: 0;
}
.page-item{
    &.disabled{
        .page-link{
            color: rgba(255,255,255,0.8);
            background-color: rgba(255,255,255,.1);
            border-color: #262c36;
        }
    }
    &.active{
        .page-link{
            color: #2b3441;
            background-color: #9caac1;
            border-color: #9caac1;
            &:hover{
                background-color: #9caac1;
                border-color: #9caac1;
            }
        }
    }
    .page-link{
        @include border-radius(2px);
        padding: .5rem .75rem;
        &:hover{
            background-color: rgba(255,255,255,.1);
            border-color: #0084d4;
        }
    }
}
.market{
    &_table_detail{
        width: 100%;
        color: white;
        font-size: 11px;
        th{
            border-bottom: 1px solid #515967; //border-bottom like border-left
            text-transform: uppercase;
            color: #9caac1;
            padding: 5px !important;
        }
        td{
            border-bottom: 1px solid #262c36;
            cursor: pointer;
            padding: 5px !important;
            a{
                color: white;
                &:hover{
                    text-decoration: underline;
                    color: #337ab7;
                }
            }
        }
        tr{
            background-color: transparent !important;
            &:hover{
                background-color: rgba(0,132,212,.08);
            }
            th,td{
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

    }
}

.trade{
    &_content{
        max-width: 224px;
        font-size: 13px;
        margin: 0 auto;
        .btn{
            background-color: rgba(255,255,255,.1);
            @include border-radius(4px);
            max-width: 200px;
            display: block;
            padding: .75rem 0;
            font-size: 15px;
            margin: 6px auto;
            color: rgba(255,255,255,.8);
            &:hover{
                background-color: #009af8;
                color: #2b3441;
            }
        }
    }
}
.nav-pills {
    display: flex;
    justify-content: space-between;
    .nav-item{
        flex: 1;
        max-width: 49%;;
    }
    .nav-link{
        border-radius: 0;
        text-transform: uppercase;
        text-align: center;
        height: 32px;
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        color: #2b3441;
        background-color: #9caac1;
        &:hover{
            background-color: #7d899d;
        }
    }
    .btn-sell.active{
        background-color: #ff6724;
        color: #2b3441;
        &:hover{
            background-color: #f75535;
        }
    }
    .btn-buy.active{
        background-color: #00a45b;
        color: #2b3441;
        &:hover{
            background-color: #00b74a;
        }
    }
}
.tab-pane{
    .form-group{
        border-bottom: 1px solid #515967;
        .form-control{
            background-color: transparent !important;
            color: #9caac1;
            border: 0;
            font-size: 11px;
            padding: .375rem 0;
        }
        .input-group-text{
            color: #7d899d;
            background-color: transparent;
            border: 0;
            padding: .375rem 0;
            font-size: 11px;
        }
    }
    .condition{
        display: none;
        &.active{
            display: block;
        }
    }
    .target-price{
        display: none;
        &.active{
            display: block;
        }
    }
    .btn-transaction{
        padding: 11px 12px;
        outline: none;
        font-size: 15px;
        color: #2b3441;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &.btn-buy{
            background-color: #00a45b;
            min-width: 150px;
            &:hover{
                background-color: #00b74a;
            }
        }
        &.btn-sell{
            background-color: #ff6724;
            min-width: 150px;
            &:hover{
                background-color: #f75535;
            }
        }
    }
}
.trade{
    .dropdown-menu{
        background-color: #2b3441;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.5);
        .dropdown-item{
            padding: 3px 10px;
            font-size: 11px;
            &:hover{
                color: #0084d4;
            }
        }
    }
    label{
        font-size: 10px;
    }
}
.trade-content{
    max-width: 400px;
    margin: 0 auto;
}
.btn-link{
    text-decoration: none !important;
    padding-left: 0;
    font-size: 11px;
    color: #0084d4;
    &:hover{
        text-decoration: none !important;
        color: #0084d4;
    }
}
@include minq(medium){
    .market{
        &_table_detail{
            font-size: 13px;
        }
    }
    .btn-link{
        font-size: 13px;
    }
    .trade{
        .dropdown-menu{
            .dropdown-item{
                font-size: 13px;
            }
        }
        label{
            font-size: 12px;
        }
    }
    .tab-pane{
        .form-group{
            .form-control,
            .input-group-text{
                font-size: 13px;
            }
        }
    }
}
.chart_area{
    height: 650px;
    background-color: rgba(255,255,255,.1);
}
.market_info_header{
    min-height: 60px;
    background-color: #262c36;
    &_name{
        display: flex;
        padding-top: 7px;
        padding-bottom: 7px;        
        .market-logo{
            width: 45px;
            height: 45px;
            margin-right: 5px;
        }
    }
    p{
        margin-bottom: 0;
    }
    .item-group{
        display: flex;
    }
    .item{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5px;
    }
    
}
@include maxq(large){
    .market_info_header{
        height: auto;
    }
}
@include maxq(medium){
    .market_info_header{
        .volume,.high,.low{
            display: none;
        }
    }
}

// BALANCE
.balance{
    .sum{
        display: none;
    }
}
.icon{
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-withdraw-red{
    background-image: url('../assets/icon-withdraw-red.svg');
}
.icon-deposit-green{
    background-image: url('../assets/icon-deposit-green.svg');
}
.collapse-control{
    a{
        h1{
            color: rgba(255, 255, 255, 0.8);
        }
    }
}