extends layout_support.pug

block content
    .container.main-wrapper.support-content
        .row.pt-4
            .col-sm-8
                ol.breadcrumbs
                    li
                        a(href="#") BITRADEX Support
                    li
                        a(href="#") Site Information
                    li
                        a(href="#") Legal
            .col-sm-4
                form.form-inline.my-0
                        .input-group.ml-auto.w-100
                            input.form-control.support_search_control(type="text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2")
                            .input-group-append
                                button.btn.support_search_button(type="button")
                                    i.fas.fa-search
        .row.pt-4
            .col-lg-12
                article.article
                    header.article_header
                    .article_body
                        h2 ABOUT BITRADEX
                        p Founded in 2017 by four cybersecurity engineers, BITRADEX is the cryptocurrencies based blockchain platform, providing lightning-fast trade execution, dependable digital wallets and industry-leading security practices. Our mission is to help advance the blockchain industry by fostering innovation, incubating new and emerging technology, and driving transformative change.
                        h2 WHAT MAKES BITRADEX DIFFERENT?
                        p
                            strong Secure, Safety and Stability platform 
                            |– BITRADEX employs the most reliable, effective security technologies available. We leverage an elastic, multi-stage wallet strategy to ensure that the majority of funds are kept in cold storage for additional safety. Also, BITRADEX enables two-factor authentication for all users and provides a host of additional security features to provide multiple layers of protection. At BITRADEX, security will always be a top priority in every decision we make.
                        p
                            strong High Performance 
                            |– Capable of processing more than 1,500,000 orders per second
                        p
                            strong Fast deposits and withdrawals 
                            |– Our highly efficient and automated monitoring platform allows us to provide users the fastest transactions available today. This includes updates on balance, trade, and wallet information.
                        p
                            strong High Liquidity 
                            |– we have many partners and agents and thousands of private accounts
                        p
                            strong Driving Innovation 
                            |– To help drive innovation in the blockchain industry, BITRADEX is committed to supporting both new and established blockchains. BITRADEX seeks to provide its users with an ever-growing selection of blockchain technologies and digital tokens, and all new digital tokens listed on the trading platform must complete a rigorous review process.
                        p
                            strong All Devices Covered 
                            |– we have supported Web, Mobile Web, Windows, macOS
                        p
                            strong Commitment to compliance 
                            |– BITRADEX is committed to complying to detect and remediate unlawful behavior by customers and virtual currency developers when using the BITRADEX trading platform or any of the company’s other services.
                        p
                            strong Multilingual Support 
                            |– Support and FAQs avaible in multiple languages
                        p
                            strong Multiple-Coin Support 
                            |– BTC, ETH, LTC, DASH,…
                        br
                        br