extends layout_market_detail.pug  

block datalist_aside
    .datalist.scrollbar_custom.mCustomScrollbar
        -for(var i=0; i<30; i++){
            ul.datalist_item
                li.datalist_item_up
                    .market_currency WAVES
                    .market_change 
                        span.up -3.1%
                        img(src="../assets/arrow-down.svg", alt="")
                li.datalist_item_down
                    .market_volumn 9.34
                    .market_last 0.074890
        -}

block main_content
    .container-fluid
        .row
            .col
                h1.text-uppercase.mt-4 Account balances
                h3 Estimated Holdings
                .d-table
                    .d-table-row
                        .d-table-cell.pr-4 Crypto  
                        .d-table-cell
                            span
                                i.fab.fa-bitcoin.mr-1
                                | 0.00000000 
                                small ($0.000)
                    .d-table-row
                        .d-table-cell.pr-4 Fiat
                        .d-table-cell
                            i.fas.fa-dollar-sign.mr-1 
                            | 0.00000000
        .row
            .col.balance
                .container-fluid.mt-4
                    .row
                        .col-sm-6
                            label.btn.btn-custom Hide zero balances
                        .col-sm-6
                            .text-right.d-flex
                                input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                                button.btn.btn-refresh(type="button")
                                    i.fas.fa-sync
                table#balanceTable.dataTablePlugin.market_table_detail
                    thead
                        tr
                            th.text-center D
                            th.text-center W
                            th.text-left.hidden-lg-cell Currency name
                            th.text-center Symbol
                            th.text-right.hidden-lg-cell Available balance
                            th.text-right.hidden-lg-cell Pending deposit
                            th.text-right.hidden-lg-cell Reserved
                            th.text-right Total
                            th.text-right.hidden-lg-cell EST.BTC value
                            th.text-right %change
                    tbody
                        -for(var i=1; i<20; i++){
                            tr.row-key
                                td.icon.icon-deposit-green
                                    //- button.btn-modal-deposit.btn-icon(type="button" data-toggle="modal" data-target="#modalDeposit")
                                    button.btn-modal-deposit.btn-icon(type="button" data-toggle="modal")
                                td.icon.icon-withdraw-red
                                    button.btn-modal-withdrawal.btn-icon(type="button" data-toggle="modal" data-target="#modalWithdrawal")
                                td.text-left.hidden-lg-cell Ada
                                td.text-center ADA
                                td.text-right.hidden-lg-cell 0.00000000
                                td.text-right.hidden-lg-cell 0.00000000
                                td.text-right.hidden-lg-cell 0.00000000
                                td.text-right 0.00000000
                                td.text-right.hidden-lg-cell 0.00000000
                                td.text-right.up -1.7%
                        -}
        //- Modal
        .row
            .col
                #modalDeposit.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalDepositLabel" aria-hidden="true")
                    .modal-dialog(role="document")
                        .modal-content.deposit-container
                            .modal-header.text-center
                                h5.modal-title#modalDepositLabel 
                                    span.title-icon
                                    |Deposit
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            .modal-body
                                .container
                                    .row
                                        .col
                                            .info.d-flex.justify-content-between.align-items-baseline
                                                h5 Currency
                                                h6 
                                                    i.fas.fa-check-circle.mr-2
                                                    |Block updated 8 minutes ago
                                            table.deposit_table
                                                thead
                                                    tr
                                                        th Name
                                                        th.text-right Symbol
                                                tbody
                                                    tr
                                                        td Bitcoin
                                                        td.text-right BTC
                                            .modal-disclaimer
                                                h5.text-uppercase Disclaimer
                                                small I acknowledge the following information: 
                                                small By depositing tokens to this address, you agree to our 
                                                    a(href="#") deposit recovery policy
                                                    |. Depositing tokens to an address other than BTC may result in your funds being lost.
                                            .info.mt-4
                                                h5 Address
                                            .input-group.mb-3
                                                input.form-control.deposit-control(type="text" placeholder="Generate a new address" aria-label="newaddress" aria-describedby="basic-addon2")
                                                .input-group-append
                                                    //- button.btn.btn-new-address(type="button" data-toggle="modal" data-target="#modalFailed") New Address
                                                    button.btn.btn-new-address(type="button" data-toggle="modal")
                                                        i.fas.fa-circle-notch.fa-spin.loading-icon
                                                        | New Address
                                            .modal-disclaimer
                                                h5.text-uppercase DEPOSIT INSTRUCTIONS
                                                small Depositing tokens to this address other than BTC will result in your funds being lost.
                            .modal-footer
                                button.btn.btn-close(type="button" data-dismiss="modal") Close
        //- Modal error
        .row
            .col
                #modalFailed.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalFailedLabel" aria-hidden="true")
                    .modal-dialog(role="document")
                        .modal-content.error-container
                            .modal-header.text-center
                                h5.modal-title#modalFailedLabel Error Generating Address
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            .modal-body
                                p 
                                    |The following errors were encountered:
                                    ul
                                        li Your account must be verified to deposit, trade, or withdraw.
                                    |Please correct these issues and try again.
                            .modal-footer
                                button.btn.btn-transaction(type="button" data-dismiss="modal") Close
        //- Loading new address
        .row
            .col
                .loading-address
                    h1
                        i.fas.fa-spinner.fa-spin.fa-3x.color-icon
        .row
            .col
                #modalWithdrawal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalWithdrawalLabel" aria-hidden="true")
                    .modal-dialog(role="document")
                        .modal-content.withdrawal-container
                            .modal-header.text-center
                                h5.modal-title#modalWithdrawalLabel 
                                    span.title-icon
                                    |Withdrawal
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            .modal-body
                                .container
                                    .row
                                        .col
                                            .info.d-flex.justify-content-between.align-items-baseline
                                                h5 Currency
                                            table.deposit_table
                                                thead
                                                    tr
                                                        th Name
                                                        th Symbol
                                                        th.text-right Available balance
                                                tbody
                                                    tr
                                                        td Bitcoin
                                                        td BTC
                                                        td.text-right 0
                                            .info.mt-4
                                                h5 Withdrawal amount
                                            .container-fluid
                                                .row.mt-3
                                                    .col-6.px-0
                                                        .text-uppercase Quantity
                                                    .col-6.d-flex.align-items-baseline.px-0
                                                        input.form-control.withdrawal-control.text-right(type="text" placeholder="0" autocomplete="off")
                                                        span.currency.text-center.px-2 LTC
                                                .row.mt-3
                                                    .col-6.px-0
                                                        .text-uppercase Transaction fee
                                                    .col-6.px-0.d-flex.align-items-baseline
                                                        .amount.text-right 0.01000000
                                                        span.currency.text-center.px-2 LTC
                                                .row.mt-3
                                                    .col-6.px-0
                                                        .text-uppercase Total withdrawal
                                                    .col-6.px-0.d-flex.align-items-baseline
                                                        .amount.text-right -0.01000000
                                                        span.currency.text-center.px-2 LTC
                                            .info.mt-4
                                                h5 Address
                                            .input-group.mb-3
                                                input.form-control.withdrawal-control(type="text" autocomplete="off")
                                            .modal-disclaimer
                                                h5.text-uppercase DISCLAIMER
                                                small 
                                                    |Please verify your withdrawal address. We cannot refund an incorrect withdrawal.
                                                    br
                                                    br
                                                    |DO NOT WITHDRAW DIRECTLY TO A CROWDFUND OR ICO.
                                                    br
                                                    |We will not credit your account with tokens from that sale.
                            .modal-footer
                                button.btn.btn-close(type="button" data-dismiss="modal") Cancel
                                button.btn.btn-withdrawal(type="button" data-toggle="modal" data-target="#modalWithdrawFailed") Withdraw LTC           
        .row
            .col
                #modalWithdrawFailed.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalWithdrawFailedLabel" aria-hidden="true")
                    .modal-dialog(role="document")
                        .modal-content.error-container
                            .modal-header.text-center
                                h5.modal-title#modalWithdrawFailedLabel Withdraw Failed
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            .modal-body
                                p 
                                    |The following errors were encountered:
                                    ul
                                        li Verify quantity specified is less than 10,000,000 and that you have sufficient balance.
                                        li An address must be specified.
                                    |Please correct these issues and try again.
                            .modal-footer
                                button.btn.btn-transaction(type="button" data-dismiss="modal") Close
    //- PENDING WITHDRAWALS
    .container-fluid
        .row
            .col.balance
                div.collapse-control
                    a.expand-button(data-toggle="collapse" href="#collapseWithdrawPending" role="button" aria-expanded="false" aria-controls="collapseWithdrawPending")
                        h1.text-uppercase.mt-4
                            i.far.fa-plus-square.expand-icon.show.mr-2
                            i.far.fa-minus-square.expand-icon.mr-2
                            |Pending withdrawals
                .collapse#collapseWithdrawPending
                    .expand-collapse-container
                        .pt-2.text-right.d-flex
                            input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                            button.btn.btn-refresh(type="button")
                                i.fas.fa-sync
                        table.dataTablePlugin.market_table_detail
                            thead
                                tr
                                    th.text-left Date
                                    th.text-left Symbol
                                    th.text-right Quantity
                                    th.text-right Status
                            tbody
                                tr
                                    td.text-center(colspan="4") You have no pending withdrawals.
        .row
            .col.balance
                div.collapse-control
                    a.expand-button(data-toggle="collapse" href="#collapsePendingDeposit" role="button" aria-expanded="false" aria-controls="collapseWithdrawPending")
                        h1.text-uppercase.mt-4
                            i.far.fa-plus-square.expand-icon.show.mr-2
                            i.far.fa-minus-square.expand-icon.mr-2
                            |Pending Deposits
                .collapse#collapsePendingDeposit
                    .expand-collapse-container
                        .pt-2.text-right.d-flex
                            input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                            button.btn.btn-refresh(type="button")
                                i.fas.fa-sync
                        table.dataTablePlugin.market_table_detail
                            thead
                                tr
                                    th.text-left Date
                                    th.text-left Symbol
                                    th.text-right Quantity
                                    th.text-right Status
                            tbody
                                tr
                                    td.text-center(colspan="4") You have no pending withdrawals.
        .row
            .col.balance
                div.collapse-control
                    a.expand-button(data-toggle="collapse" href="#collapseWithdrawHistory" role="button" aria-expanded="false" aria-controls="collapseWithdrawPending")
                        h1.text-uppercase.mt-4
                            i.far.fa-plus-square.expand-icon.show.mr-2
                            i.far.fa-minus-square.expand-icon.mr-2
                            |Withdrawals History
                .collapse#collapseWithdrawHistory
                    .expand-collapse-container
                        .pt-2.text-right.d-flex
                            input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                            button.btn.btn-refresh(type="button")
                                i.fas.fa-sync
                        table.dataTablePlugin.market_table_detail
                            thead
                                tr
                                    th.text-left Date
                                    th.text-left Symbol
                                    th.text-right Quantity
                                    th.text-right Status
                            tbody
                                tr
                                    td.text-center(colspan="4") You have no pending withdrawals.
        .row
            .col.balance
                div.collapse-control
                    a.expand-button(data-toggle="collapse" href="#collapseDepositHistory" role="button" aria-expanded="false" aria-controls="collapseWithdrawPending")
                        h1.text-uppercase.mt-4
                            i.far.fa-plus-square.expand-icon.show.mr-2
                            i.far.fa-minus-square.expand-icon.mr-2
                            |Deposit History
                .collapse#collapseDepositHistory
                    .expand-collapse-container
                        .pt-2.text-right.d-flex
                            input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                            button.btn.btn-refresh(type="button")
                                i.fas.fa-sync
                        table.dataTablePlugin.market_table_detail
                            thead
                                tr
                                    th.text-left Date
                                    th.text-left Symbol
                                    th.text-right Quantity
                                    th.text-right Status
                            tbody
                                tr
                                    td.text-center(colspan="4") You have no pending withdrawals.
block script-append
    script.
        $(function(){
            $('.expand-button').on("click",function(){
                $('.expand-icon').toggleClass('show');
            });
            $('.btn-modal-deposit').on('click', function() {
                $('.loading-address').css('display','flex');
                setTimeout(function(){
                    $('.loading-address').css('display','none');
                    $('#modalDeposit').modal({show: true});
                },1500);
            });
            $('.btn-new-address').on('click', function() {
                $('.loading-icon').css('display','inline-block');
                setTimeout(function(){
                    $('.loading-icon').css('display','none');
                    $('.btn-new-address').text('Copy');
                    $('#modalFailed').modal({show: true});
                },1500);
            });
            function format() {
                return '<tr class="row-info pb-2 hidden-row">'+
                                '<td colspan="10">'+
                                    '<table class="no-border">'+
                                        '<tr>'+
                                            '<td>Symbol</td>'+
                                            '<td class="text-left"">BTC</td>'+
                                            '<td class="icon icon-deposit-green">'+
                                                '<button class="btn-modal-deposit" type="button" data-toggle="modal" data-target="#modalDeposit"></button></td>'+
                                            '<td class="icon icon-withdraw-red">'+
                                                '<button class="btn-modal-withdrawal" type="button" data-toggle="modal" data-target="#modalWithdrawal"></button></td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>%Change</td>'+
                                            '<td class="text-left" colspan="3">0.0%</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Available Balance</td>'+
                                            '<td class="text-left" colspan="3"> 0.00000000</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Pending Deposit</td>'+
                                            '<td class="text-left" colspan="3"> 0.00000000</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Total</td>'+
                                            '<td class="text-left" colspan="3"> 0.00000000</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Est.BTC Value</td>'+
                                            '<td class="text-left" colspan="3"> 0.00000000</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td> Rate</td>'+
                                            '<td class="text-left" colspan="3"> 0.00000000</td></tr>';
            }
            $('#balanceTable tbody tr').after(format());
        });                                
