extends layout_market_detail.pug  

block datalist_aside
    .datalist.scrollbar_custom.mCustomScrollbar
        -for(var i=0; i<30; i++){
            ul.datalist_item
                li.datalist_item_up
                    .market_currency WAVES
                    .market_change 
                        span.up -3.1%
                        img(src="../assets/arrow-down.svg", alt="")
                li.datalist_item_down
                    .market_volumn 9.34
                    .market_last 0.074890
        -}

block main_content
    .container-fluid
        .row
            .col
                h1.text-uppercase.mt-4 Account balances
                h3 Estimated Holdings
                .d-table
                    .d-table-row
                        .d-table-cell.pr-4 Crypto  
                        .d-table-cell
                            span
                                i.fab.fa-bitcoin.mr-1
                                | 0.00000000 
                                small ($0.000)
                    .d-table-row
                        .d-table-cell.pr-4 Fiat
                        .d-table-cell
                            i.fas.fa-dollar-sign.mr-1 
                            | 0.00000000
        .row
            .col.balance
                table.dataTablePlugin.market_table_detail
                    thead
                        tr
                            th.text-center D
                            th.text-center W
                            th.text-left.hidden-xl-cell Currency name
                            th.text-center Symbol
                            th.text-right.hidden-xl-cell Available balance
                            th.text-right.hidden-xl-cell Pending deposit
                            th.text-right.hidden-xl-cell Reserved
                            th.text-right Total
                            th.text-right.hidden-xl-cell EST.BTC value
                            th.text-right %change
                    tbody
                        -for(var i=1; i<20; i++){
                            tr
                                td.icon.icon-deposit-green
                                td.icon.icon-withdraw-red
                                td.text-left.hidden-xl-cell Ada
                                td.text-center ADA
                                td.text-right.hidden-xl-cell 0.00000000
                                td.text-right.hidden-xl-cell 0.00000000
                                td.text-right.hidden-xl-cell 0.00000000
                                td.text-right 0.00000000
                                td.text-right.hidden-xl-cell 0.00000000
                                td.text-right.up -1.7%
                        -}
    //- PENDING WITHDRAWALS
    .container-fluid
        .row
            .col.balance
                div.collapse-control
                    a.expand-button(data-toggle="collapse" href="#collapseWithdrawPending" role="button" aria-expanded="false" aria-controls="collapseWithdrawPending")
                        h1.text-uppercase.mt-4
                            i.far.fa-plus-square.expand-icon.show.mr-2
                            i.far.fa-minus-square.expand-icon.mr-2
                            |Pending withdrawals
                .collapse#collapseWithdrawPending
                    .expand-collapse-container
                        .pt-2.text-right
                            input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                            button.btn.btn-refresh(type="button")
                                i.fas.fa-sync
                        table.dataTablePlugin.market_table_detail
                            thead
                                tr
                                    th.text-left Date
                                    th.text-left Symbol
                                    th.text-right Quantity
                                    th.text-right Status
                            tbody
                                tr
                                    td.text-center(colspan="4") You have no pending withdrawals.
        .row
            .col.balance
                div.collapse-control
                    a.expand-button(data-toggle="collapse" href="#collapsePendingDeposit" role="button" aria-expanded="false" aria-controls="collapseWithdrawPending")
                        h1.text-uppercase.mt-4
                            i.far.fa-plus-square.expand-icon.show.mr-2
                            i.far.fa-minus-square.expand-icon.mr-2
                            |Pending Deposits
                .collapse#collapsePendingDeposit
                    .expand-collapse-container
                        .pt-2.text-right
                            input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                            button.btn.btn-refresh(type="button")
                                i.fas.fa-sync
                        table.dataTablePlugin.market_table_detail
                            thead
                                tr
                                    th.text-left Date
                                    th.text-left Symbol
                                    th.text-right Quantity
                                    th.text-right Status
                            tbody
                                tr
                                    td.text-center(colspan="4") You have no pending withdrawals.
        .row
            .col.balance
                div.collapse-control
                    a.expand-button(data-toggle="collapse" href="#collapseWithdrawHistory" role="button" aria-expanded="false" aria-controls="collapseWithdrawPending")
                        h1.text-uppercase.mt-4
                            i.far.fa-plus-square.expand-icon.show.mr-2
                            i.far.fa-minus-square.expand-icon.mr-2
                            |Withdrawals History
                .collapse#collapseWithdrawHistory
                    .expand-collapse-container
                        .pt-2.text-right
                            input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                            button.btn.btn-refresh(type="button")
                                i.fas.fa-sync
                        table.dataTablePlugin.market_table_detail
                            thead
                                tr
                                    th.text-left Date
                                    th.text-left Symbol
                                    th.text-right Quantity
                                    th.text-right Status
                            tbody
                                tr
                                    td.text-center(colspan="4") You have no pending withdrawals.
        .row
            .col.balance
                div.collapse-control
                    a.expand-button(data-toggle="collapse" href="#collapseDepositHistory" role="button" aria-expanded="false" aria-controls="collapseWithdrawPending")
                        h1.text-uppercase.mt-4
                            i.far.fa-plus-square.expand-icon.show.mr-2
                            i.far.fa-minus-square.expand-icon.mr-2
                            |Deposit History
                .collapse#collapseDepositHistory
                    .expand-collapse-container
                        .pt-2.text-right
                            input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                            button.btn.btn-refresh(type="button")
                                i.fas.fa-sync
                        table.dataTablePlugin.market_table_detail
                            thead
                                tr
                                    th.text-left Date
                                    th.text-left Symbol
                                    th.text-right Quantity
                                    th.text-right Status
                            tbody
                                tr
                                    td.text-center(colspan="4") You have no pending withdrawals.
block script-append
    script.
        $(function(){
            $('.expand-button').on("click",function(){
                $('.expand-icon').toggleClass('show');
            });
        });                                
