extends layout_support.pug

block content
    .container-fluid.mt-5.help-center
        .container.mt-5
            .row
                .col-sm-6
                    a(href="./announcements.html").block-ui News and Announcements
                .col-sm-6
                    a(href="./faq.html").block-ui FAQ - Frequently Asked Questions
