extends layout.pug  

block content
    //- banner section
    .container-fluid.banner
        .banner_footer
            button.btn.banner-buttons.btn_market Explorer Markets
            button.btn.banner-buttons.btn_register Register
    //- end banners section

    //- trade section
    .container-fluid.bg-secondary.trade-section
        .container
            .trade-wrapper.p-0.row.d-flex.justify-content-center
                .col-lg-12.col-md-10
                    .row.d-flex.justify-content-center
                        .col-lg-6.col-md-10.trade_aside
                            img.img-responsive.visible-xs-block(src="../assets/illustration-trade-confidently.svg" alt="illustration-trade-confidently")
                            h3.trade_aside_header Bittrex
                            p.trade_aside_content Bittrex is a global leader in the blockchain revolution. We operate the premier U.S.-based blockchain trading platform, which is designed for customers who demand lightning-fast trade execution, dependable digital wallets, and industry-leading security practices.
                            h3.trade_aside_header Blockchain Incubators
                            p.trade_aside_content We believe in the potential of blockchain and its ability to provide groundbreaking solutions. To promote innovation in the industry, we are working with teams around the world to advance new, inventive tokens that could potentially transform the way goods, services and operations are managed globally.
                            img.img-responsive.visible-sm-block(src="../assets/illustration-trade-confidently.svg" alt="illustration-trade-confidently")
                        .col-lg-6.trade_banner.hidden-sm.hidden-xs.text-center
                            img.img-responsive(src="../assets/illustration-trade-confidently.svg" alt="illustration-trade-confidently")
    .container.security-section
        .row
            .col-lg-6.trade_aside
                img.img-responsive(src="../assets/illustration-algorithmic-trading.svg" alt="illustration-algorithmic-trading")
                .trade_aside_header.text-center Security First
                .trade_aside_content.text-center Security will always be a top priority in every decision we make, and we incorporate multiple layers of protection, using the most reliable and effective security technologies available to keep your funds secure.
            .col-lg-6.trade_aside
                img.img-responsive(src="../assets/illustration-security-first.svg" alt="illustration-security-first")
                .trade_aside_header.text-center Robust Trading
                .trade_aside_content.text-center Our custom trading engine was designed to be scalable and to ensure that orders are executed in real-time. We also support third-party trading platforms and algorithmic trading via our extensive APIs.
    .container-fluid.support-section
        .container
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10.text-sm-left.text-lg-center
                    h3.trade_aside_header Corporate Responsibility
                    p.trade_aside_content We are committed to complying with all U.S. regulations that help prevent, detect and remediate unlawful behavior by customers and virtual currency developers when using the Bittrex trading platform or any of the company’s other services. Bittrex is not a regulated exchange under U.S. securities laws.
    //- end trade section

    //- register section
    .container-fluid.bg-secondary.register-section
        .container
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10
                    h3.trade_aside_header.text-center Sign Up and Start Trading Today!
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10
                    form(action="#").form-register
                        .form-group.text-left
                            label(for="inputEmail") Email address
                            input.form-control#inputEmail(type="email" aria-describedby="emailHelp" placeholder="")
                        .form-group.text-left
                            label(for="inputPassword") Password
                            input.form-control#inputPassword(type="password" placeholder="")
                        .form-group.text-left
                            label(for="inputPasswordConfirm") Password
                            input.form-control#inputPasswordConfirm(type="password" placeholder="")
                        .form-group.form-check
                            input.form-check-input#checkPolicy(type="checkbox")
                            label.form-check-label(for="checkPolicy") 
                                |I agree to the Bittrex.com 
                                a(href="#") Terms of Service
                        .form-group
                            button.btn.register-btn(type="submit") Submit
            .row
                .col.text-center
                    p.register-footer
                        span Already have an account? 
                        a Login?
                    img(src="../assets/privacy.jpg", alt="")