doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title BITTRADEX
        link(rel="stylesheet" href="../css/fontawesome-all.min.css")
        link(rel="stylesheet" href="../css/bootstrap.css")
        link(rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css")
        link(rel="stylesheet" href="../css/jquery.dataTables.min.css")
        link(rel="stylesheet" href="../css/dataTables.bootstrap4.min.css")
        link(rel="stylesheet" href="../css/style.css")
    body
        .controls 
            .control-toggle
                i.fas.fa-cog.fa-1x
            .control-button-group
                button.btn-theme(data-theme="light")
                button.btn-theme(data-theme="dark")
        .wrapper.dark
            .layout
                //- navigation bar
                nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.scrolling-navbar.fixed-top
                    a.navbar-brand(href="./index.html")
                        img.logo-icon(src="../assets/logo.png") 
                        span.logo-word BITTRADEX
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse#navbarSupportedContent
                        .connect-status 
                            img(src="../assets/icon-socket-status-disconnected.svg")
                            small Socket status = Disconnected
                            //- img(src="../assets/icon-socket-status-connected.svg")
                            //- small Socket status = Connected
                        ul.navbar-nav.ml-auto
                            li.nav-item.active
                                a.nav-link(href="./market.html") Markets
                                    span.sr-only (current)
                            li.nav-item
                                a.nav-link(href="./register.html") Register
                            li.nav-item
                                a.nav-link(href="./login.html") Login
                //- end navigation bar
                block content
                .container-fluid.footer
                    .container
                        .row.text-center
                            .col-lg-2.col-sm-4 
                                a(href="#") About
                            .col-lg-2.col-sm-4 
                                a(href="./status.html") Website Status
                            .col-lg-2.col-sm-4 
                                a(href="#") Cookies
                            .col-lg-2.col-sm-4 
                                a(href="#") Fees
                            .col-lg-2.col-sm-4 
                                a(href="#") Support
                            .col-lg-2.col-sm-4 
                                a(href="#") 
                                    i.fab.fa-facebook-square.pr-1
                                    |Like Us On Facebook
                            .col-lg-2.col-sm-4 
                                a(href="./privacy.html") Privacy
                            .col-lg-2.col-sm-4 
                                a(href="#") API Documentation
                            .col-lg-2.col-sm-4 
                                a(href="#") Terms
                            .col-lg-2.col-sm-4 
                                a(href="#") Contact
                            .col-lg-2.col-sm-4 
                                a(href="#") &nbsp;
                            .col-lg-2.col-sm-4 
                                a(href="#") 
                                    i.fab.fa-twitter.pr-1
                                    |Follow us on twitter
                                
        script(src="../js/jquery.js")
        script(src="../js/popper.js")
        script(src="../js/bootstrap.js")
        script(src="../js/jquery.mCustomScrollbar.concat.min.js")
        script(src="../js/jquery.dataTables.min.js")
        script(src="../js/dataTables.bootstrap4.min.js")
        script(src="../js/theme.js")
        script(src="../js/main.js")
        script.
            (function($){
                $(window).on("load",function(){
                    var table = $('.dataTablePlugin').DataTable({
                        "lengthChange": false,
                        "searching": false,
                        "ordering": false,
                        "info": false,
                        "pagingType": "full_numbers",
                    });
                });
            })(jQuery);