doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title BITTRADEX
        link(rel="stylesheet" href="../css/fontawesome-all.min.css")
        link(rel="stylesheet" href="../css/bootstrap.css")
        link(rel="stylesheet" href="../css/style.css")
    body
        .controls 
            .control-toggle
                i.fas.fa-cog.fa-1x
            .control-button-group
                button.btn-theme(data-theme="light")
                button.btn-theme(data-theme="dark")
        .wrapper.dark
            .layout
                //- navigation bar
                nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.scrolling-navbar.fixed-top
                    a.navbar-brand(href="./index.html")
                        img.logo-icon(src="../assets/logo.png") 
                        span.logo-word BITTRADEX
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse#navbarSupportedContent
                        .connect-status 
                            img(src="../assets/icon-socket-status-disconnected.svg")
                            small Socket status = Disconnected
                            //- img(src="../assets/icon-socket-status-connected.svg")
                            //- small Socket status = Connected
                        form.form-inline.ml-auto.pb-2.pb-sm-0
                            a#btnSubmitReq.btn.btn-outline-primary(href="./request_select.html") Submit a request
                            button.btn.btn-outline-primary.ml-3 Sign in
                //- end navigation bar
                block content
                .container-fluid.footer-bottom.bg-dark
                    .container.h-100
                        .row.text-white.h-100.d-flex.align-items-center
                            .col-6 ©BITTRADEX Support
                            .col-6.text-right 
                                i.fab.fa-twitter.pr-4
                                i.fab.fa-facebook-square
                                
        script(src="../js/jquery.js")
        script(src="../js/popper.js")
        script(src="../js/bootstrap.js")
        script(src="../js/theme.js")
        script(src="../js/main.js")
        block script-append