extends layout_register.pug  

block content
    //- register section
    .container-fluid.h-100.bg-secondary.register-section.flex-grow-1
        .container
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10
                    h3.trade_aside_header.text-center Log In
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10
                    form(action="#").form-register
                        .form-group.text-left
                            label(for="inputEmail") Email address
                            input.form-control#inputEmail(type="email" aria-describedby="emailHelp" placeholder="")
                        .form-group.text-left
                            label(for="inputPassword") Password
                            input.form-control#inputPassword(type="password" placeholder="")
                        .form-group.form-check
                            input.form-check-input#checkPolicy(type="checkbox")
                            label.form-check-label(for="checkPolicy") 
                                |Remember me |  
                                a(href="#") Forgot password
                        .form-group
                            button.btn.register-btn(type="submit" data-toggle="modal" data-target="#modalLoginFailed") Submit
            .row
                .col.text-center
                    p.register-footer
                        span Don't have an account? 
                        a Sign Up
            //- Modal error
            .row
                .col
                    #modalLoginFailed.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalLoginFailedLabel" aria-hidden="true")
                        .modal-dialog(role="document")
                            .modal-content.error-container
                                .modal-header.text-center
                                    h5.modal-title#modalLoginFailedLabel Error Login Message
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                .modal-body
                                    p Login failed. Cause...
                                .modal-footer
                                    button.btn.btn-transaction(type="button" data-dismiss="modal") Close