extends layout_market_detail.pug  

block datalist_aside
    .datalist.scrollbar_custom.mCustomScrollbar
        -for(var i=0; i<30; i++){
            ul.datalist_item
                li.datalist_item_up
                    .market_currency ANI
                    .market_change 
                        span.up -3.1%
                        img(src="../assets/arrow-up.svg", alt="")
                li.datalist_item_down
                    .market_volumn 9.34
                    .market_last 0.074890
        -}

block main_content
    .container-fluid
        .row
            .col.market_info_header
                .row
                    .col-lg-2
                        .market_info_header_name.d-flex.align-content-center
                            img.market-logo(src="../assets/bitcoin_small.png", alt="")
                            div
                                h4.text-uppercase.mb-0.pr-0 USD-BTC
                                p Bitcoin
                    .col-lg-10.item-group
                        .item.last
                            .text-right.up $7692.38500000
                            .text-right.text-uppercase Last
                        .item.bid
                            .text-right.up $7692.38500000
                            .text-right.text-uppercase Bid
                        .item.ask
                            .text-right.down $7692.38500000
                            .text-right.text-uppercase Ask
                        .item.volume
                            .text-right.up $7692.38500000
                            .text-right.text-uppercase Volume
                        .item.high
                            .text-right.up $7692.38500000
                            .text-right.text-uppercase 24h High
                        .item.low
                            .text-right $7692.38500000
                            .text-right.text-uppercase 24h Low
        .row
            .col
                .chart_area
    .container-fluid
        .row
            .col
                h1.text-uppercase.mt-4 Other books
        .row
            .col
                .row-count-selector.mb-3
                    nav.mx-auto(aria-label="Pagination")
                        ul.pagination.mb-0.justify-content-center
                            li.page-item 
                                span.page-link.disabled Display row
                            li.page-item
                                a.page-link.current(href="#") 10
                            li.page-item
                                a.page-link(href="#") 25   
                            li.page-item
                                a.page-link(href="#") 50
                            li.page-item
                                a.page-link(href="#") 100
        .row
            .col-lg-5.col-xl-4
                table.dataTablePlugin.market_table_detail.text-right
                    thead
                        tr
                            th Sum
                            th Total
                            th Size(BTC)
                            th Bid(USD)
                    tbody
                        -for(var i=1; i<20; i++){
                            tr
                                td 483.7489
                                td 483.7489
                                td 0.064
                                td.up 7575.30700000
                        -}
            
            -const login = true
            -if(login == false)
                .col-lg-2.col-xl-4
                    .trade.trade-unauthenticated
                        .trade_content
                            p To begin trading please log in or create an account.
                            .text-center
                                a.btn(href="./register.html") Create account
                            .text-center
                                a.btn(href="./login.html") Login
            -else
                .col-lg-2.col-xl-4.px-lg-0.mt-2
                    .trade.trade-content
                        ul.nav.nav-pills.mb-3#trade-tab(role="tablist")
                            li.nav-item
                                a.nav-link.active.btn-buy#pills-buy-tab(data-toggle="pill" href="#pills-buy" role="tab" aria-controls="pills-buy" aria-selected="true") Buy
                            li.nav-item
                                a.nav-link.btn-sell#pills-sell-tab(data-toggle="pill" href="#pills-sell" role="tab" aria-controls="pills-sell" aria-selected="true") Sell
                        .tab-content#pills-tabContent
                            form.tab-pane.fade.show.active#pills-buy(role="tabpanel" aria-labelledby="pills-buy-tab")
                                .form-group
                                    label.text-uppercase(for="orderType") Order type
                                    .dropdown.show
                                        a.btn.btn-link.dropdown-toggle#orderType(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Limit (default)
                                        .dropdown-menu(aria-labelledby="orderType")
                                            a.dropdown-item.limitDefault(href="#") Limit (default)
                                            a.dropdown-item.conditionTarget(href="#") Conditional
                                .form-group
                                    label.text-uppercase(for="") Quantity
                                    .input-group
                                        input.form-control(type="text" autocomplete="off" placeholder="0.00000000")
                                        .input-group-append
                                            span.input-group-text USDT
                                .form-group
                                    //- .dropdown.show
                                    //-     a.btn.btn-link.text-uppercase.dropdown-toggle#bidPrice(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Bid Price
                                    //-     .dropdown-menu(aria-labelledby="bidPrice")
                                    //-         a.dropdown-item(href="#") Last
                                    //-         a.dropdown-item(href="#") Bid
                                    //-         a.dropdown-item(href="#") Ask
                                    label.text-uppercase(for="") Bid
                                    .input-group
                                        input.form-control(type="text" autocomplete="off" placeholder="0.000")
                                        .input-group-append
                                            span.input-group-text USD
                                .form-group.condition
                                    label.text-uppercase(for="") Condition
                                    .dropdown.show
                                        a.btn.btn-link.dropdown-toggle#condition(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") None
                                        .dropdown-menu(aria-labelledby="condition")
                                            a.dropdown-item(href="#") None
                                            a.dropdown-item(href="#") Greater Than or Equal To
                                            a.dropdown-item(href="#") Less Than or Equal To
                                .form-group.target-price
                                    label.text-uppercase.px-4(for="targetPrice") Target Price
                                    .input-group.px-4
                                        input.form-control#targetPrice(type="text" autocomplete="off" placeholder="0")
                                        .input-group-append
                                            span.input-group-text USD
                                .form-group
                                    label.text-uppercase(for="") Total
                                    .input-group
                                        input.form-control(type="text" autocomplete="off" placeholder="0.000")
                                        .input-group-append
                                            span.input-group-text USD
                                .form-group
                                    label.text-uppercase(for="") Time in force
                                    .dropdown.show
                                        a.btn.btn-link.dropdown-toggle#timeInForce(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Good 'Til Cancelled (Default)
                                        .dropdown-menu(aria-labelledby="timeInForce")
                                            a.dropdown-item(href="#") Good 'Til Cancelled (Default)
                                            a.dropdown-item(href="#") Immediate or Cancel
                                .text-center
                                    button.btn.btn-transaction.btn-buy(type="button" data-toggle="modal" data-target="#modalFailed") Buy Tether
                                .max-buy.text-center
                                    h4.available-balance.mt-3 Available balance
                                    .balance-data.active-data 0.000 USD
                                    .balance-data
                                        small 0.00000000 USDT
                                    .balance-data
                                        a.text-uppercase.text-white(href="#") Max Buy
                            form.tab-pane.fade#pills-sell(role="tabpanel" aria-labelledby="pills-sell-tab")
                                .form-group
                                    label.text-uppercase(for="orderType") Order type
                                    .dropdown.show
                                        a.btn.btn-link.dropdown-toggle#orderType(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Limit (default)
                                        .dropdown-menu(aria-labelledby="orderType")
                                            a.dropdown-item.limitDefault(href="#") Limit (default)
                                            a.dropdown-item.conditionTarget(href="#") Conditional
                                .form-group
                                    label.text-uppercase(for="") Quantity
                                    .input-group
                                        input.form-control(type="text" autocomplete="off" placeholder="0.00000000")
                                        .input-group-append
                                            span.input-group-text USDT
                                .form-group
                                    label.text-uppercase(for="") Ask
                                    .input-group
                                        input.form-control(type="text" autocomplete="off" placeholder="0.000")
                                        .input-group-append
                                            span.input-group-text USD
                                .form-group.condition
                                    label.text-uppercase(for="") Condition
                                    .dropdown.show
                                        a.btn.btn-link.dropdown-toggle#condition(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") None
                                        .dropdown-menu(aria-labelledby="condition")
                                            a.dropdown-item(href="#") None
                                            a.dropdown-item(href="#") Greater Than or Equal To
                                            a.dropdown-item(href="#") Less Than or Equal To
                                .form-group.target-price
                                    label.text-uppercase.px-4(for="targetPrice") Target Price
                                    .input-group.px-4
                                        input.form-control#targetPrice(type="text" autocomplete="off" placeholder="0")
                                        .input-group-append
                                            span.input-group-text USD
                                .form-group
                                    label.text-uppercase(for="") Total
                                    .input-group
                                        input.form-control(type="text" autocomplete="off" placeholder="0.000")
                                        .input-group-append
                                            span.input-group-text USD
                                .form-group
                                    label.text-uppercase(for="") Time in force
                                    .dropdown.show
                                        a.btn.btn-link.dropdown-toggle#timeInForce(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Good 'Til Cancelled (Default)
                                        .dropdown-menu(aria-labelledby="timeInForce")
                                            a.dropdown-item(href="#") Good 'Til Cancelled (Default)
                                            a.dropdown-item(href="#") Immediate or Cancel
                                .text-center
                                    button.btn.btn-transaction.btn-sell(type="button" data-toggle="modal" data-target="#modalFailed") Sell Tether
                                .max-buy.text-center
                                    h4.available-balance.mt-3 Available balance
                                    .balance-data.active-data 0.000 USD
                                    .balance-data
                                        small 0.00000000 USDT
                                    .balance-data
                                        a.text-uppercase.text-white(href="#") Max Sell         
            .col-lg-5.col-xl-4
                table.dataTablePlugin-right.market_table_detail.text-left
                    thead
                        tr
                            th Ask (USD)
                            th Size (USDT)
                            th Total
                            th Sum
                    tbody
                        -for(var i=1; i<30; i++){
                            tr
                                td.down 1.00300000
                                td 100300.0000
                                td 100000.000	
                                td 100300.0000
                        -}
        //- Modal
        .row
            .col
                #modalFailed.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalFailedLabel" aria-hidden="true")
                    .modal-dialog(role="document")
                        .modal-content.error-container
                            .modal-header.text-center
                                h5.modal-title#modalFailedLabel Modal title
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            .modal-body
                                p 
                                    |The following errors were encountered:
                                    ul
                                        li Bids must be greater than .00000001 for limit orders
                                        li The minimum order size is .00050000
                                    |Please correct these issues and try again.
                            .modal-footer
                                button.btn.btn-transaction(type="button" data-dismiss="modal") Close
    .container-fluid
        .row
            .col
                h1.text-uppercase.mt-4 Market history
        .row
            .col
                table.dataTablePlugin.market_table_detail
                    thead
                        tr
                            th.text-left Date
                            th.text-left Buy/Sell
                            th.text-right Bid/Ask
                            th.text-right Total Units (USDT)
                            th.text-right.hidden-xs Totol Cost (USD)
                    tbody
                        -for(var i=1; i<20; i++){
                            tr
                                td.text-left 23:23:45
                                td.text-left.down SELL
                                td.text-right 1.00100000
                                td.text-right 3035.33000000
                                td.text-right.hidden-xs 3038.36533000
                        -}
    
block script-append
    script.
        $(function(){
            $('.dropdown-menu a').on("click",function(){
                $(this).parent().prev().text($(this).text());
            });
            $('.conditionTarget').on("click",function(){
                $('.condition').addClass('active');
                $('.target-price').addClass('active');
            });
            $('.limitDefault').on("click",function(){
                $('.condition').removeClass('active');
                $('.target-price').removeClass('active');
            });
        });
    