extends layout_market_detail.pug  

block datalist_aside
    .datalist.scrollbar_custom.mCustomScrollbar
        -for(var i=0; i<30; i++){
            ul.datalist_item
                li.datalist_item_up
                    .market_currency WAVES
                    .market_change 
                        span.up -3.1%
                        img(src="../assets/arrow-down.svg", alt="")
                li.datalist_item_down
                    .market_volumn 9.34
                    .market_last 0.074890
        -}

block main_content
    .container-fluid.order-container
        .row
            .col
                h1.text-uppercase.mt-4 OPEN ORDERS
        .row
            .col.order_table
                .pt-2.text-right.d-flex
                    input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                    button.btn.btn-refresh(type="button")
                        i.fas.fa-sync
                table.dataTablePlugin.market_table_detail
                    thead
                        tr
                            th.text-left Order date
                            th.text-left.hidden-lg-cell Market
                            th.text-right.hidden-lg-cell Type
                            th.text-right Bid/Ask
                            th.text-right.hidden-lg-cell Filled
                            th.text-right Unit Total
                            th.text-right.hidden-lg-cell Actual Rate
                            th.text-right EST.Total
                            th.text-right &nbsp;
                    tbody
                        tr
                            td.text-left 2018/07/09 21:53:53
                            td.text-left.hidden-lg-cell.order_table_market BTC-XML
                            td.text-right.hidden-lg-cell.color-red SELL
                            td.text-right 0.00003172
                            td.text-right.hidden-lg-cell 0.00000000
                            td.text-right 16.00000000
                            td.text-right.hidden-lg-cell 0.00000000
                            td.text-right 0.00050625
                            td.text-right.color-red X
        .row
            .col
                h1.text-uppercase.mt-4 My order history
        .row
            .col.order_table
                .pt-2.text-right.d-flex
                    input.form-control.ml-auto.market_find.d-inline-block.mr-2(type="search" placeholder="Find..." aria-label="Search")
                    button.btn.btn-refresh(type="button")
                        i.fas.fa-sync
                table.dataTablePlugin.market_table_detail#order_history_table
                    thead
                        tr
                            th.text-left.hidden-lg-cell.hidden-xl-cell Closed date
                            th.text-left.hidden-lg-cell.hidden-xl-cell Opened date
                            th.text-left Market
                            th.text-right Type
                            th.text-right.hidden-lg-cell Bid/Ask
                            th.text-right Unit Filled
                            th.text-right Unit Total
                            th.text-right.hidden-lg-cell Actual Rate
                            th.text-right.hidden-lg-cell Cost/Proceeds
                    tbody
                        tr.row-key
                            td.text-left.hidden-lg-cell.hidden-xl-cell 2018/07/09 22:01:08
                            td.text-left.hidden-lg-cell.hidden-xl-cell 2018/07/09 21:53:55
                            td.text-left.order_table_market BTC-XLM
                            td.text-right.color-red SELL
                            td.text-right.hidden-lg-cell 0.00003172	
                            td.text-right 16.00000000
                            td.text-right 16.00000000
                            td.text-right.hidden-lg-cell 0.00003172	
                            td.text-right.hidden-lg-cell 0.00050626
block script-append
    script.
        $(function(){
            function format() {
                return '<tr class="row-info pb-2 hidden-row">'+
                                '<td colspan="9">'+
                                    '<table class="no-border">'+
                                        '<tr>'+
                                            '<td>Type</td>'+
                                            '<td class="color-red">SELL</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Opened Date:</td>'+
                                            '<td class="text-left">2018/07/09 21:53:55</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Closed Date:</td>'+
                                            '<td class="text-left">2018/07/09 22:01:08</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Market:</td>'+
                                            '<td class="text-left">BTC-XLM</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Bid/Ask:</td>'+
                                            '<td class="text-left">0.00003172</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Units Filled:</td>'+
                                            '<td class="text-left">16.00000000</td>'+
                                        '</tr>'+
                                        '<tr>'+
                                            '<td>Unit Total:</td>'+
                                            '<td class="text-left">16.00000000</td>'+
                                        '<tr>'+
                                            '<td>Actual Rate:</td>'+
                                            '<td class="text-left">0.00003172</td>'+
                                        '<tr>'+
                                            '<td>Cost/Proceeds:</td>'+
                                            '<td class="text-left color-red">0.00050626</td>'+
                                        '</tr>';
            }
            $('#order_history_table tbody tr').after(format());
        });           