extends layout_blank.pug  

block content
    .container-fluid.px-4
        .row
            .col.mt-4
                .blurd.sucess-blurd
                    .blurd_icon.info
                        i.fas.fa-info.fa-3x
                    .blurd_content
                        .font-weight-bold Registration Email Sent
                        div To complete the registration process look for an email in your inbox that provides further instructions.
                        a(href="./index.html") 
                            |Return to Bittrex Home 
                            i.fas.fa-arrow-right