extends layout.pug  

block content
    //- register section
    .container-fluid.h-100.bg-secondary.register-section
        .container
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10
                    h3.trade_aside_header.text-center Start Trading Today!
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10
                    form(action="#").form-register
                        .form-group.text-left
                            label(for="inputEmail") Email address
                            input.form-control#inputEmail(type="email" aria-describedby="emailHelp" placeholder="")
                        .form-group.text-left
                            label(for="inputPassword") Password
                            input.form-control#inputPassword(type="password" placeholder="")
                        .form-group.text-left
                            label(for="inputPassword") Confirm Password
                            input.form-control#inputPassword(type="password" placeholder="")
                        .form-group.form-check
                            input.form-check-input#checkPolicy(type="checkbox")
                            label.form-check-label(for="checkPolicy") 
                                |agree to the Bittrex.com |  
                                a(href="#") Terms of Service
                        .form-group
                            button.btn.register-btn(type="submit") Sign up
            .row
                .col.text-center
                    p.register-footer
                        span Already have an account? 
                        a(href="./login.html") Login