extends layout.pug  

block content
    //- register section
    .container-fluid.h-100.bg-secondary.register-section
        .container
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10
                    h3.trade_aside_header.text-center Reset Password
            .row.d-flex.justify-content-center
                .col-lg-7.col-md-10
                    form(action="#").form-register
                        .form-group.text-left
                            label(for="inputEmail") Email address
                            input.form-control#inputEmail(type="email" aria-describedby="emailHelp" placeholder="")
                        .form-group.form-check
                            input.form-check-input.ml-0#checkPolicy(type="checkbox")
                            label.form-check-label(for="checkPolicy") I acknowledge that my account will be locked for a minimum of 24 hours.
                        .form-group
                            button.btn.register-btn(type="submit") 
                                i.fas.fa-unlock.pr-2
                                |Reset Password