extends layout_setting.pug  

block content
    .container-fluid.px-4
        .row
            .col
                h5.heading-lv5.text-uppercase.pt-4.border-bottom Activity
        .row.activity_info.mt-4
            .col-4
                p.heading-lv6 Username
                p.heading-lv6 Status
            .col-8
                p.heading-lv6 email@gmail.com.vn
                p.heading-lv6 Unverified
                    a(href="./acticle_account.html" title="Learn more about account verification status") 
                        sup
                            i.fas.fa-info-circle
        .row.activity_withdraw.mt-4
            .col-4
                p.heading-lv6 Daily Withdrawal Limit
            .col-8
                p.heading-lv6 0BTC
        .row.activity_note
            .col
                p.heading-lv6
                    small
                        i 
                            |Once your identity is 
                            a(href="#") verified
                            |, you can increase your withdrawal limit by securing your account with 
                            a(href="#") two-factor authentication
                            |. Learn more by viewing this 
                            a(href="#") support article
                            |.
    .container-fluid.px-4
        .row
            .col
                h5.heading-lv5.text-uppercase.pt-4 User Activity
        .row
            .col
                table.table.table-activity.dataTablePlugin
                    thead
                        tr
                            th.text-uppercase Time stamp
                            th.text-uppercase Address
                            th.text-uppercase Activity
                    -for(var i=0; i<16; i++){
                        tr.row-key
                            td 06/04/18 07:00:50
                            td 171.232.180.20
                            td Logon
                    -}
block script-append
    script.
        (function($){
            $(window).on("load",function(){
                function format() {
                    return '<tr class="row-info pb-2 hidden-row">'+
                                '<td colspan="3"><span class="px-4">User Agent: </span><span>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.62 Safari/537.36</span></td>'+
                            '</tr>';
                }
                var table = $('.dataTablePlugin').DataTable({
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": false,
                    "pagingType": "full_numbers"
                });
                $('.dataTablePlugin tbody tr').after(format());
            });
        })(jQuery);               
                