extends layout_setting.pug  

block content
    .container-fluid.px-4
        .row
            .col
                h5.heading-lv5.text-uppercase.pt-4.border-bottom Activity
        .row.activity_info.mt-4
            .col-4
                p.heading-lv6 Username
                p.heading-lv6 Status
            .col-8
                p.heading-lv6 email@gmail.com.vn
                p.heading-lv6 Unverified
                    a(href="./acticle_account.html" title="Learn more about account verification status") 
                        sup
                            i.fas.fa-info-circle
        .row.activity_withdraw.mt-4
            .col-4
                p.heading-lv6 Daily Withdrawal Limit
            .col-8
                p.heading-lv6 0BTC
        .row.activity_note
            .col
                p.heading-lv6
                    small
                        i 
                            |Once your identity is 
                            a(href="#") verified
                            |, you can increase your withdrawal limit by securing your account with 
                            a(href="#") two-factor authentication
                            |. Learn more by viewing this 
                            a(href="#") support article
                            |.
    .container-fluid.px-4
        .row
            .col
                h5.heading-lv5.text-uppercase.pt-4 User Activity
        .row
            .col
                table.table.table-activity
                    thead
                        tr
                            th.text-uppercase Time stamp
                            th.text-uppercase Address
                            th.text-uppercase Activity
                    -for(var i=0; i<6; i++){
                        tr.row-key
                            td 06/04/18 07:00:50
                            td 171.232.180.20
                            td Logon
                        tr.row-info.pb-2.hidden-row
                            td(colspan="3") 
                                span.px-4 User Agent:
                                span Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.62 Safari/537.36
                    -}
        .row
            .col.pt-4
                nav.ml-auto(aria-label="Pagination")
                    ul.pagination.mb-0.justify-content-end
                        li.page-item
                            a.page-link(href="#" aria-label="Previous") First
                        li.page-item
                            a.page-link(href="#" aria-label="Previous") Prev
                        -for(var i=1; i<=3; i++){
                            if i==1
                                li.page-item
                                    a.page-link.current(href="#")= i
                            else
                                li.page-item
                                    a.page-link(href="#")= i
                        -}
                        li.page-item
                            a.page-link(href="#" aria-label="Next") Next     
                        li.page-item
                            a.page-link(href="#" aria-label="Previous") Last
                
                