extends layout_setting.pug  

block content
    .container-fluid.px-4.two-factor
        .row
            .col.mt-2
                .panel.default-panel.p-2.mt-4
                    .py-2 To use API Keys, you must have Two-Factor Authentication enabled.
                    a.d-block.pb-2(href="./setting_authenticaition.html") Two-Factor Authentication settings