extends layout_setting.pug  

block content
    .container-fluid.px-4.two-factor
        .row
            .col.mt-2
                .panel.default-panel.p-2.mt-4
                    .py-1 Your account is already enabled.
                    .py-1 
                        |Please visit the  
                        a(href="./market.html") Market Summary 
                        | page to begin trading.