extends layout_setting.pug  

block content
    .container-fluid.px-4
        .row
            .col
                h5.heading-lv5.text-uppercase.pt-4.border-bottom Change Password
        .row
            .col
                form.form-password.mt-3
                    .form-group.pb-4
                        |Currently logged in as:
                        h6 thanhtruong070388@gmail.com
                    .form-group.pt-4
                        label(for="currentPass") Current Password
                        input.form-control#currentPass(type="password")
                    .form-group
                        label(for="newPass") New Password
                        input.form-control#newPass(type="password")
                    .form-group
                        label(for="confirmPass") Current Password
                        input.form-control#confirmPass(type="password")
                    .text-center.form-group.mt-4 
                        button.btn.btn-form.change-pass Change Password