extends layout_setting.pug  

block content
    .container-fluid.px-4
        .row
            .col
                h5.heading-lv5.text-uppercase.pt-4.border-bottom IDENTITY VERIFICATION
        .row
            .col
                form.enhanced-verification.mt-3
                    p Verifying your identity improves the security of your account. The next step in the process is to submit the materials needed to verify your identity. While driver’s licenses and ID cards are permitted, we recommend you use passports to help expedite the process.
                    .blurd.sucess-blurd
                        .blurd_icon.info
                            i.fas.fa-info.fa-3x
                        .blurd_content
                            .font-weight-bold Thanks for setting up your profile
                            small To learn more about why it's important to verify your identity, please view this 
                                a(href="#") customer support document.
                    .help.mt-4
                        h6 Tips for successful verification:
                        ul
                            li Take a fresh selfie and ensure that nothing is blocking the full view of your face
                            li Do not use the same image from your identification documents
                            li Do not use a professional profile picture
                            li Do not manipulate the image of your identification in anyway, including the addition of watermarks or blacking out certain information
                            li Do not crop the image of your ID such that any portion of the ID is removed, including edges
                        .text-center
                            button.btn.btn-form.mt-4 Start verification