<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BITRADEX</title>
    <link rel="stylesheet" href="../css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="controls"> 
      <div class="control-toggle"><i class="fas fa-cog fa-1x"></i></div>
      <div class="control-button-group">
        <button class="btn-theme" data-theme="light"></button>
        <button class="btn-theme" data-theme="dark"></button>
      </div>
    </div>
    <div class="wrapper dark">
      <div class="layout">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar fixed-top"><a class="navbar-brand" href="./index.html"><img class="logo-icon" src="../assets/logo.png"><span class="logo-word">BITRADEX</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="connect-status"> <img src="../assets/icon-socket-status-disconnected.svg"><small>Socket status = Disconnected</small></div>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a class="nav-link" href="./market.html">Markets<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="./order.html">Orders</a></li>
              <li class="nav-item"><a class="nav-link" href="./balance.html">Wallets</a></li>
              <li class="nav-item dropdown"><a class="nav-link" href="./setting_activity.html">Settings</a></li>
              <li class="nav-item"><a class="nav-link" href="./login.html">Login</a></li>
            </ul>
          </div>
        </nav>
        <div class="contact pt-5 text-center">
          <h4 class="market_title_name mt5">Contact Us</h4>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8 col-sm-10">
                <div class="info-blurd text-center bg-orange mt-4 tab-pane text-black">
                  <h5>Got a question?</h5>
                  <p>
                     Please first check the <a href="#">official Binance FAQ </a>to see if your question has already been answered:</p>
                  <div>
                    <div class="btn btn-transaction btn-buy mb-3 text-white">View support documentation</div>
                  </div>
                  <p>
                     Still can’t find what you’re looking for? Please <a href="#">submit a request.</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="social pt-5">
          <ul class="social-icons">
            <li><a class="telegram" href="#">Telegram</a></li>
            <li><a class="facebook" href="#">Facebook</a></li>
            <li><a class="twitter" href="#">Twitter</a></li>
            <li><a class="reddit" href="#">Reddit</a></li>
            <li><a class="weibo" href="#">Weibo</a></li>
            <li><a class="smedium" href="#">Medium</a></li>
            <li><a class="instagram" href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/theme.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>