<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BITRADEX</title>
    <link rel="stylesheet" href="../css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="controls"> 
      <div class="control-toggle"><i class="fas fa-cog fa-1x"></i></div>
      <div class="control-button-group">
        <button class="btn-theme" data-theme="light"></button>
        <button class="btn-theme" data-theme="dark"></button>
      </div>
    </div>
    <div class="wrapper dark">
      <div class="layout">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark scrolling-navbar fixed-top"><a class="navbar-brand" href="./index.html"><img class="logo-icon" src="../assets/logo.png"><span class="logo-word">BITRADEX</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="connect-status"> <img src="../assets/icon-socket-status-disconnected.svg"><small>Socket status = Disconnected</small></div>
            <form class="form-inline ml-auto pb-2 pb-sm-0"><a class="btn btn-outline-primary" id="btnSubmitReq" href="./request_select.html">Submit a request</a>
              <button class="btn btn-outline-primary ml-3">Sign in</button>
            </form>
          </div>
        </nav>
        <div class="container-fluid mt-5 help-center">
          <div class="container mt-5">
            <div class="row">
              <div class="col-sm-6"><a class="block-ui" href="./announcements.html">News and Announcements</a></div>
              <div class="col-sm-6"><a class="block-ui" href="./faq.html">FAQ - Frequently Asked Questions</a></div>
            </div>
          </div>
        </div>
        <div class="container-fluid footer">
          <div class="container">
            <div class="row text-center">
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./about.html">About</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./privacy.html">Privacy</a><a class="d-block" href="./terms.html">Terms</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./faq.html">FAQs</a><a class="d-block" href="./announcements.html">News &amp; Announcements</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./fee.html">Fees</a><a class="d-block" href="./invite.html">Refer Friends</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./help_center.html">Support</a><a class="d-block" href="./contact.html">Contact</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="#"> <i class="fab fa-facebook-square pr-1"></i>Like Us On Facebook</a><a class="d-block" href="#"> <i class="fab fa-telegram-plane pr-1"></i>Telegram</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/theme.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>