<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BITRADEX</title>
    <link rel="stylesheet" href="../css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="controls"> 
      <div class="control-toggle"><i class="fas fa-cog fa-1x"></i></div>
      <div class="control-button-group">
        <button class="btn-theme" data-theme="light"></button>
        <button class="btn-theme" data-theme="dark"></button>
      </div>
    </div>
    <div class="wrapper dark">
      <div class="layout">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar"><a class="navbar-brand" href="./index.html"><img class="logo-icon" src="../assets/logo.png"><span class="logo-word">BITRADEX</span></a>
          <div class="connect-status"> <img src="../assets/icon-socket-status-disconnected.svg"><small>Socket status = Disconnected</small></div>
        </nav>
        <div class="home-market-content">
        </div>
        <div class="container-fluid footer market-info-footer">
          <div class="container">
            <div class="row text-center">
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./about.html">About</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./privacy.html">Privacy</a><a class="d-block" href="./terms.html">Terms</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./faq.html">FAQs</a><a class="d-block" href="./announcements.html">News &amp; Announcements</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./fee.html">Fees</a><a class="d-block" href="./referFrds.html">Refer Friends</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="./help_center.html">Support</a><a class="d-block" href="./contact.html">Contact</a></div>
              <div class="col-lg-2 col-sm-4"> <a class="d-block" href="#"> <i class="fab fa-facebook-square pr-1"></i>Like Us On Facebook</a><a class="d-block" href="#"> <i class="fab fa-telegram-plane pr-1"></i>Telegram</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/theme.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>