<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bittrex</title>
    <link rel="stylesheet" href="../css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="controls">
      <button class="btn-theme" data-theme="light">Light</button>
      <button class="btn-theme" data-theme="dark">Dark</button>
    </div>
    <div class="wrapper dark">
      <div class="layout">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar fixed-top"><a class="navbar-brand" href="./index.html"><img class="logo-icon" src="../assets/logo.svg"><span class="logo-word">BITTREX</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a class="nav-link" href="./market.html">Markets<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#">Orders</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Wallets</a></li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownSetting" href="./view/setting_activity" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a></li>
              <li class="nav-item"><a class="nav-link" href="./login.html">Login</a></li>
            </ul>
          </div>
        </nav>
        <div class="main-wapper main-market-detail-container">
          <div class="main_nav visible">
            <div class="main_nav_menu">
              <div class="main_nav_menu_title position-relative"> 
                <h1 class="text-uppercase">Markets</h1><span class="toggle_icon_navbar"><i class="fas fa-angle-left"></i></span>
              </div>
              <div class="main_nav_menu_dropdown">
                <select class="custom-select" id="MarketList">
                  <option value="1" selected>ETH Markets</option>
                  <option value="2">USD Markets</option>
                  <option value="3">BTC Markets</option>
                  <option value="4">USDT Markets</option>
                </select>
              </div>
              <div class="input-group mt-3">
                <input class="form-control" type="text" placeholder="Find...">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu"><a class="dropdown-item py-1" href="#">Markets</a><a class="dropdown-item py-1" href="#">Volume</a><a class="dropdown-item py-1" href="#">% Change</a><a class="dropdown-item py-1" href="#">Last price</a><a class="dropdown-item py-1" href="#">Added</a></div>
                </div>
              </div>
              <div class="datalist scrollbar_custom mCustomScrollbar">
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
                <ul class="datalist_item">
                  <li class="datalist_item_up">
                    <div class="market_currency">ANI</div>
                    <div class="market_change"> <span class="up">-3.1%</span><img src="../assets/arrow-up.svg" alt=""></div>
                  </li>
                  <li class="datalist_item_down">
                    <div class="market_volumn">9.34</div>
                    <div class="market_last">0.074890</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="main_content scrollbar_custom">
            <div class="container-fluid">
              <div class="row">
                <div class="col market_info_header">
                  <div class="row">
                    <div class="col-lg-2">
                      <div class="market_info_header_name d-flex align-content-center"><img class="market-logo" src="../assets/bitcoin_small.png" alt="">
                        <div>
                          <h4 class="text-uppercase mb-0 pr-0">USD-BTC</h4>
                          <p>Bitcoin</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-10 item-group">
                      <div class="item last">
                        <div class="text-right up">$7692.38500000</div>
                        <div class="text-right text-uppercase">Last</div>
                      </div>
                      <div class="item bid">
                        <div class="text-right up">$7692.38500000</div>
                        <div class="text-right text-uppercase">Bid</div>
                      </div>
                      <div class="item ask">
                        <div class="text-right down">$7692.38500000</div>
                        <div class="text-right text-uppercase">Ask</div>
                      </div>
                      <div class="item volume">
                        <div class="text-right up">$7692.38500000</div>
                        <div class="text-right text-uppercase">Volume</div>
                      </div>
                      <div class="item high">
                        <div class="text-right up">$7692.38500000</div>
                        <div class="text-right text-uppercase">24h High</div>
                      </div>
                      <div class="item low">
                        <div class="text-right">$7692.38500000</div>
                        <div class="text-right text-uppercase">24h Low</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="chart_area"></div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h1 class="text-uppercase mt-4">Other books</h1>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="row-count-selector mb-3">
                    <nav class="mx-auto" aria-label="Pagination">
                      <ul class="pagination mb-0 justify-content-center">
                        <li class="page-item"> <span class="page-link disabled">Display row</span></li>
                        <li class="page-item"><a class="page-link current" href="#">10</a></li>
                        <li class="page-item"><a class="page-link" href="#">25   </a></li>
                        <li class="page-item"><a class="page-link" href="#">50</a></li>
                        <li class="page-item"><a class="page-link" href="#">100</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-5 col-xl-4">
                  <table class="dataTablePlugin market_table_detail text-right">
                    <thead>
                      <tr>
                        <th>Sum</th>
                        <th>Total</th>
                        <th>Size(BTC)</th>
                        <th>Bid(USD)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                      <tr>
                        <td>483.7489</td>
                        <td>483.7489</td>
                        <td>0.064</td>
                        <td class="up">7575.30700000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-2 col-xl-4">
                  <div class="trade trade-unauthenticated">
                    <div class="trade_content">
                      <p>To begin trading please log in or create an account.</p>
                      <div class="text-center"><a class="btn" href="./register.html">Create account</a></div>
                      <div class="text-center"><a class="btn" href="./login.html">Login                                    </a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                  <table class="dataTablePlugin market_table_detail text-left">
                    <thead>
                      <tr>
                        <th>Ask (USD)</th>
                        <th>Size (USDT)</th>
                        <th>Total</th>
                        <th>Sum</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                      <tr>
                        <td class="down">1.00300000</td>
                        <td>100300.0000</td>
                        <td>100000.000	</td>
                        <td>100300.0000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h1 class="text-uppercase mt-4">Market history</h1>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <table class="dataTablePlugin market_table_detail">
                    <thead>
                      <tr>
                        <th class="text-left">Date</th>
                        <th class="text-left">Buy/Sell</th>
                        <th class="text-right">Bid/Ask</th>
                        <th class="text-right">Total Units (USDT)</th>
                        <th class="text-right">Totol Cost (USD)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                      <tr>
                        <td class="text-left">23:23:45</td>
                        <td class="text-left down">SELL</td>
                        <td class="text-right">1.00100000</td>
                        <td class="text-right">3035.33000000</td>
                        <td class="text-right">3038.36533000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="container-fluid footer market-info-footer mt-4">
              <div class="container">
                <div class="row text-center">
                  <div class="col-lg-2 col-sm-4"> <a href="#">About</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">Website Status</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">Cookies</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">Fees</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">Support</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#"> <i class="fab fa-facebook-square pr-1"></i>Like Us On Facebook</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">Privacy</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">API Documentation</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">Terms</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">Contact</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#">&nbsp;</a></div>
                  <div class="col-lg-2 col-sm-4"> <a href="#"> <i class="fab fa-twitter pr-1"></i>Follow us on twitter</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <script src="../js/dataTables.bootstrap4.min.js"></script>
    <script src="../js/theme.js"></script>
    <script src="../js/main.js"></script>
    <script>
      (function($){
          $(window).on("load",function(){
              $(".scrollbar_custom").mCustomScrollbar({
                  autoHideScrollbar:true
              });
              $('.dataTablePlugin').DataTable({
                  "lengthChange": false,
                  "searching": false,
                  "ordering": false,
                  "info": false,
                  "pagingType": "full_numbers"
              });
          });
      })(jQuery);
    </script>
  </body>
</html>