<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script type="text/javascript" src="https://static.netverify.com/wicket/resource/com.jumio.wicket.resources.js.ResourcesJsScope/swfobject-ver-1528361438000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/com.jumio.wicket.resources.js.ResourcesJsScope/jquery-1.8.2.min-ver-1528361438000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/com.jumio.wicket.resources.js.ResourcesJsScope/jquery.browserInformation-ver-1528361438000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/com.jumio.wicket.resources.js.ResourcesJsScope/mediacapture-validator-ver-1528361438000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/res/js/wicket-event-jquery.min-ver-1528361420000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/res/js/wicket-ajax-jquery.min-ver-1528361420000.js"></script>
<script type="text/javascript" id="wicket-ajax-base-url">
/*<![CDATA[*/
Wicket.Ajax.baseUrl="widget/jumio-verify/2.0/form?flashId=JumioStartClient&amp;authorizationToken=48ca1fa5-c9bc-4a5b-9e43-93e5b86aae37&amp;responsesiveLayout=true&amp;referer=https://bittrex.com/Manage%3Fview%3Dverification&amp;_=535ce32e-cc92-8a40-3ab2-cba7aeb44d63";
/*]]>*/
</script>

<meta http-equiv="cache-control" content="no-cache">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<title>Verify your ID – Netverify Online-ID Verification</title>
<meta name="page-id" content="6c54d5648b8d9230c166f73e991eccca">
<link rel="apple-touch-icon-precomposed" href="https://static.netverify.com/images/icons/apple-touch-icon-114x114-precomposed-ver-1528361438000.png" sizes="114x114">
<link rel="apple-touch-icon-precomposed" href="https://static.netverify.com/images/icons/apple-touch-icon-72x72-precomposed-ver-1528361438000.png" sizes="72x72">
<link rel="apple-touch-icon-precomposed" href="https://static.netverify.com/images/icons/apple-touch-icon-57x57-precomposed-ver-1528361438000.png">
<link rel="shortcut icon" href="https://static.netverify.com/images/icons/favicon-ver-1528361438000.png">
<link rel="stylesheet" type="text/css" href="https://static.netverify.com/wicket/resource/com.jumio.wicket.bootstrap.resources.css.BootstrapCssReferences/pragmatica-web-ver-1528361438000.css">
<link rel="stylesheet" type="text/css" href="https://static.netverify.com/wicket/resource/com.jumio.wicket.bootstrap.resources.css.BootstrapCssReferences/normalize-ver-1528361438000.css">
<link rel="stylesheet" type="text/css" href="https://static.netverify.com/wicket/resource/com.netverify.wicket.resources.less.NetverifyLessReferences/netverify-new-ver-1528361606000.less">
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/com.netverify.wicket.resources.js.NetverifyJsReferences/nv-ui-v3-bowser-ver-1528361606000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/com.netverify.wicket.resources.js.NetverifyJsReferences/nv-ui-v3-utils-ver-1528361606000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/js/html5-ver-1528361438000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/com.netverify.wicket.resources.js.NetverifyJsReferences/nv-client-ver-1528361606000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/wicket/resource/com.jumio.wicket.resources.js.ResourcesJsScope/jquery.helpPanel-ver-1528361438000.js"></script>
<script type="text/javascript" src="https://static.netverify.com/widget/jumio-verify/2.0/iframe-script.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12494249-14']);
_gaq.push (['_gat._anonymizeIp']);
_gaq.push(function(){ window.pageTracker = _gat._getTrackerByName(); });(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

/*]]>*/
</script>
<script type="text/javascript">
/*<![CDATA[*/
Wicket.Event.add(window, "domready", function(event) { 
Wicket.Ajax.ajax({"sc":"submitButton","c":"id2","u":"./form;jsessionid=80DF30AEBE4171E6EB5362462CC942AA.4f3dea9c17c8ce266f2e210dc2743760?0-1.IBehaviorListener.0-wizard-view-container-form-submitButton&flashId=JumioStartClient&authorizationToken=48ca1fa5-c9bc-4a5b-9e43-93e5b86aae37&responsesiveLayout=true&referer=https://bittrex.com/Manage%3Fview%3Dverification","e":"click","f":"id1","m":"POST"});;
NetverifyClient.initBaseStep('6c54d5648b8d9230c166f73e991eccca');;
browserInformation.load();;
_gaq.push(["_trackPageview","\/netverify\/v2\/verification-confirmation"]);;
helpPanel.options.callbacks = { onShow : function() {_gaq.push(["_trackEvent","help-section","show","\/netverify\/v2\/verification-confirmation"]);}, onHide : function() {_gaq.push(["_trackEvent","help-section","hide","\/netverify\/v2\/verification-confirmation"]);} };;
if (typeof NetverifyClient !== 'undefined') {NetverifyClient.notifyEmbeddingPage('embedded', '2018-06-14T02:38:30.626Z', '7642308f-3c2c-4d1d-a493-29555f9c4cc4', '48ca1fa5-c9bc-4a5b-9e43-93e5b86aae37')};
;});
/*]]>*/
</script>
</head>
<body class="chrome">
<div class="jumio-nvw">
<div class="jumio-nvw-client embedded">
<div id="container" class="clearfix">

<div id="id3" wicketpath="wizard">
<div wicketpath="wizard_progress" class="wizard-progress clearfix progress3">
<div class="step active" wicketpath="wizard_progress_steps_0"></div><div class="step" wicketpath="wizard_progress_steps_1"></div><div class="step" wicketpath="wizard_progress_steps_2"></div>
</div>
<div id="outer-container" wicketpath="wizard_view">
<div id="help-gradient"></div>
<div id="inner-container" class="clearfix">
<div id="main" role="main">
<div class="row full-height-row current-step" wicketpath="wizard_view_container">
<div class="outer-container"><nav wicketpath="wizard_view_container_navigationPanel">
<div class="header-navigation clearfix">
<span class="pull-left">

</span>
<span class="pull-right">
<button id="help-button" class="btn btn-link" type="button">
Help<i class="jumio-icon-small-help"></i>
</button>
</span>
</div>
</nav><div class="inner-container">
<section>
<h2>Start ID verification</h2>
<div class="alert start-verification test" id="alert-camera">
<h3>Please have your ID ready for verification</h3>
</div>
<p class="verification-description" style="margin-bottom:20px;" wicketpath="wizard_view_container_description">This verification process is designed to confirm your identity and protect you from identity theft. Click "Help?" for more information.</p>
<form class="form-centered" id="id1" wicketpath="wizard_view_container_form" method="post" action="./form;jsessionid=80DF30AEBE4171E6EB5362462CC942AA.4f3dea9c17c8ce266f2e210dc2743760?0-1.IFormSubmitListener-wizard-view-container-form&amp;flashId=JumioStartClient&amp;authorizationToken=48ca1fa5-c9bc-4a5b-9e43-93e5b86aae37&amp;responsesiveLayout=true&amp;referer=https://bittrex.com/Manage%3Fview%3Dverification"><div style="width:0px;height:0px;position:absolute;left:-100px;top:-100px;overflow:hidden"><input type="hidden" name="id1_hf_0" id="id1_hf_0"></div>
<div wicketpath="wizard_view_container_form_browserInformation">
<input type="hidden" value="false" name="browserInformation:isFlashInstalled" wicketpath="wizard_view_container_form_browserInformation_isFlashInstalled">
<input type="hidden" value="false" name="browserInformation:isFlashBlocked" wicketpath="wizard_view_container_form_browserInformation_isFlashBlocked">
<input type="hidden" value="false" name="browserInformation:isFlashExpressInstallPossible" wicketpath="wizard_view_container_form_browserInformation_isFlashExpressInstallPossible">
<input type="hidden" value="true" name="browserInformation:isFlashOutdated" wicketpath="wizard_view_container_form_browserInformation_isFlashOutdated">
<input type="hidden" value="false" name="browserInformation:isIncompatibleBrowser" wicketpath="wizard_view_container_form_browserInformation_isIncompatibleBrowser">
<input type="hidden" value="true" name="browserInformation:isHTML5Browser" wicketpath="wizard_view_container_form_browserInformation_isHTML5Browser">
<input type="hidden" value="false" name="browserInformation:isMac" wicketpath="wizard_view_container_form_browserInformation_isMac">
<input type="hidden" value="false" name="browserInformation:isLinux" wicketpath="wizard_view_container_form_browserInformation_isLinux">
<input type="hidden" value="false" name="browserInformation:isWindows" wicketpath="wizard_view_container_form_browserInformation_isWindows">
<input type="hidden" value="false" name="browserInformation:isCameraInstalled" wicketpath="wizard_view_container_form_browserInformation_isCameraInstalled">
<input type="hidden" value="chrome" name="browserInformation:browserVendor" wicketpath="wizard_view_container_form_browserInformation_browserVendor">
<input type="hidden" value="66.0.3359.181" name="browserInformation:browserVersion" wicketpath="wizard_view_container_form_browserInformation_browserVersion">
<input type="hidden" value="5.0 (Macintosh; Intel Mac OS X 10_10_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.181 Safari/537.36" name="browserInformation:browserVersionExt" wicketpath="wizard_view_container_form_browserInformation_browserVersionExt">
<input type="hidden" value="mac" name="browserInformation:osVendor" wicketpath="wizard_view_container_form_browserInformation_osVendor">
<input type="hidden" value="10.10.5" name="browserInformation:osVersion" wicketpath="wizard_view_container_form_browserInformation_osVersion">
<input type="hidden" value="" name="browserInformation:flashVersion" wicketpath="wizard_view_container_form_browserInformation_flashVersion">
<input type="hidden" value="" name="browserInformation:flashVersionExt" wicketpath="wizard_view_container_form_browserInformation_flashVersionExt">
<input type="hidden" value="true" name="browserInformation:isCss3AnimationSupported" wicketpath="wizard_view_container_form_browserInformation_isCss3AnimationSupported">
<input type="hidden" value="" name="browserInformation:cameraName" wicketpath="wizard_view_container_form_browserInformation_cameraName">
<input type="hidden" value="" name="browserInformation:cameraResolution" wicketpath="wizard_view_container_form_browserInformation_cameraResolution">
</div>
<button class="btn btn-large btn-primary btn-start" type="submit" name="submitButton" id="id2" wicketpath="wizard_view_container_form_submitButton">
Start ID verification
</button>
</form>
</section>
</div>
</div></div></div>
<div id="help" wicketpath="wizard_view_help">
<a class="jumio-icon-close" data-state="closed">Close</a>
<!-- CONTENT TO BE REPLACED WITH PROPERTY FILE VALUES -->
<strong>ID verification</strong><p>This verification process is designed to confirm your identity and protect you from identity theft.</p><p>You will be asked to upload a copy of a form of identification, which will then be checked.</p>
</div>
</div>
</div>
</div>

<footer wicketpath="footer">
<div id="footer" class="clearfix">
<span id="netverify-logo" wicketpath="footer_logo">Netverify</span>
<p wicketpath="footer_legalTextContainer">
© 2010 – <span wicketpath="footer_legalTextContainer_currentYear">2018</span> <span wicketpath="footer_legalTextContainer_jumio">Jumio Corp</span>. All rights reserved.
<br>
<small><a target="_blank" href="http://jumio.com/disclaimer/privacypolicy/">
Privacy Policy
</a></small>
</p>
</div>
</footer>
</div>
</div>
</div>


</body></html>